
/* App Switcher */
.switcher-popup
{
	padding: $spacing-small;

	spacing: $spacing-small;
}

.osd-window,
.resize-popup,
.switcher-list
{
	font-size: $font-size-normal;
	font-weight: normal;

	padding: $spacing-small;

	color: $color-fg;
	border: 1px solid $viva-border-color;
	border-radius: $viva-border-radius;
	background: $color-bg;
}

.switcher-list
{
	.item-box
	{
		font-size: $font-size-normal;
		font-weight: normal;

		padding: $spacing-small;

		transition-duration: $transition-fast;

		border: 1px solid transparent;
		border-radius: $viva-border-radius;

		&:selected,
		&:outlined
		{
			color: $color-fg-selected;
			border: 1px solid transparent;
			box-shadow: $viva-box-shadow;
			text-shadow: $viva-text-shadow;

			background-gradient-direction: vertical;
			background-gradient-start: $viva-color1;
			background-gradient-end: $viva-color2;
		}
	}

	.thumbnail-box
	{
		padding: $spacing-none;

		spacing: $spacing-none;
	}

	.thumbnail
	{
		width: 256px;
		padding: $spacing-none;

		spacing: $spacing-small;
	}

	.separator
	{
		width: 1px;

		background: $viva-gradient-2;
	}
}

.switcher-list-item-container
{
	spacing: $spacing-normal;
}

.switcher-arrow,
.switcher-arrow:highlighted
{
	color: transparent;
	border-color: transparent;
}

/* fallback menu
- odd thing for styling App menu when apparently not running under shell. Light Adwaita styled
  app menu inside the main app window itself rather than the top bar
*/

/* OSD */
.osd-window
{
	text-align: center;

	spacing: $spacing-small;

	.level
	{
		height: $spacing-tiny;

		color: $viva-color2;
		border-radius: $viva-border-radius;
	}

	.osd-monitor-label
	{
		font-size: 2em;
	}
}
