
.button
{
  font-size: $font-size-normal;
  font-weight: normal;

  padding: $spacing-small $spacing-large;

  color: $color-fg;
  border: 1px solid transparent;
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
  icon-shadow: $viva-box-shadow;

  &:focus,
  &:hover,
  &:insensitive
  {
    color: $color-fg-selected;
    border: 1px solid transparent;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-3;
    background-gradient-end: $viva-gradient-2;
    icon-shadow: $viva-box-shadow;
  }

  &:active
  {
    font-weight: normal;

    color: $color-fg-selected;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-box-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
  }
}
