
.button
{
  font-size: $font-size-normal;
  font-weight: normal;
  color: $color-fg;
  border: 1px solid transparent;
  border-radius: $viva-border-radius;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,0.2);
  background-gradient-end: rgba(255,255,255,0.1);
  box-shadow: $viva-box-shadow;
  padding: $spacing-small $spacing-large;
  icon-shadow: 0 1px black;
}

.button:focus,
.button:hover,
.button:insensitive
{
  color: $color-fg-selected;
  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
  border: 1px solid transparent;
  icon-shadow: 0 1px black;
}

.button:active
{
  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
  box-shadow: $viva-box-shadow;
  color: $color-fg-selected;
  text-shadow: 1px 1px 2px black;
  font-weight: normal;
}
