
/* Calendar popup */


#calendarArea
{
  padding: $spacing-small $spacing-normal;
}

.calendar
{
  margin: $spacing-none;
  padding: $spacing-none;

  spacing-rows: $spacing-tiny;
  spacing-columns: $spacing-tiny;
  spacing: $spacing-none;

  margin-left: $spacing-normal;

  .calendar-change-month-back
  {
    width: 18px;
    height: 12px;

    background-color: transparent;
    background-image: url('images/calendar-arrow-left.svg');

    &:rtl
    {
      background-image: url('images/calendar-arrow-right.svg');

      &:hover,
      &:focus,
      &:active
      {
        background-color: transparent;
        background-image: url('images/calendar-arrow-right-hover.svg');
      }
    }

    &:hover,
    &:focus,
    &:active
    {
      background-color: transparent;
      background-image: url('images/calendar-arrow-left-hover.svg');
    }
  }

  .calendar-change-month-forward
  {
    width: 18px;
    height: 12px;

    background-color: transparent;
    background-image: url('images/calendar-arrow-right.svg');

    &:rtl
    {
      background-image: url('images/calendar-arrow-left.svg');

      &:hover,
      &:focus,
      &:active
      {
        background-color: transparent;
        background-image: url('images/calendar-arrow-left-hover.svg');
      }
    }

    &:hover,
    &:focus,
    &:active
    {
      background-color: transparent;
      background-image: url('images/calendar-arrow-right-hover.svg');
    }
  }
}

.calendar-month-label
{
  font-family: $viva-font-family-fancy;
  font-size: $font-size-large;
  font-weight: normal;

  margin: $spacing-small $spacing-none;

  color: $color-fg;
}

.calendar-month-label:focus
{
  background-color: transparent;
}

.calendar-day-base,
.calendar-day
{
  font-size: $font-size-small;

  width: $spacing-huge;
  height: $spacing-normal;
  margin: $spacing-none;
  padding: $spacing-small;

  transition-duration: $transition-fast;
  text-align: center;

  border: $spacing-none;
  border-right: $spacing-none;
  border-bottom: $spacing-none;
  border-radius: $spacing-none;

  &:hover,
  &:focus
  {
    transition-duration: $transition-fast;

    color: $color-fg;
    border-color: transparent;
    border-radius: $spacing-none;
    box-shadow: $viva-box-shadow;
    text-shadow: 0 1px black;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-2;
    background-gradient-end: $viva-gradient-1;
  }

  &:active
  {
    color: $color-fg;
    border-color: transparent;
    border-radius: $spacing-none;
    box-shadow: $viva-box-shadow;
    text-shadow: 0 1px black;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
  }
}

.calendar-day-top
{
  border-top-width: $spacing-none;
}

.calendar-day-left
{
  border-left-width: $spacing-none;
}

.calendar-nonwork-day
{
  color: $color-fg-insensitive;
  background-color: rgba(255,255,255,.1);
}

.calendar-today
{
  color: $color-fg;
  border: $spacing-none;
  border-radius: $spacing-none;
  background-image: none;
  box-shadow: $viva-box-shadow;
  text-shadow: 0;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}

.calendar-day-with-events
{
  font-weight: bold;

  color: $color-fg;
  background-image: none;
}

.calendar-other-month-day
{
  color: $color-fg-insensitive;
}

.calendar-day-base.calendar-day-heading,
.calendar-week-number
{
  font-size: $font-size-small;
  font-weight: normal;

  width: $spacing-huge;
  height: $spacing-normal;
  margin: $spacing-none;
  padding: $spacing-small;

  color: $viva-gradient-2;
  border: $spacing-none;
  background: transparent;
}

.datemenu-today-button,
.datemenu-displays-box,
{
  margin: $spacing-none $spacing-normal;
}

.datemenu-calendar-column
{
  spacing: $spacing-tiny;
}

.datemenu-displays-section
{
  padding-bottom: $spacing-tiny;
}

.datemenu-today-button,
.world-clocks-button
{
  padding: $spacing-tiny $spacing-small;

  border-radius: $spacing-none;

  &:hover,
  &:focus,
  {
    color: $color-fg;
    border-color: transparent;
    border-radius: $spacing-none;
    box-shadow: $viva-box-shadow;
    text-shadow: 0 1px black;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-2;
    background-gradient-end: $viva-gradient-1;
  }

  &:active
  {
    color: $color-fg;
    border-color: transparent;
    border-radius: $spacing-none;
    box-shadow: $viva-box-shadow;
    text-shadow: 0 1px black;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
  }
}

.world-clocks-header,
.world-clocks-button,
.weather-button
{
  height: $spacing-none;
  padding: $spacing-none;
}

.datemenu-today-button .date-label,
.world-clocks-header
{
  font-family: $viva-font-family-fancy;
  font-size: $font-size-large;
  font-weight: normal;

  color: $color-fg;

  spacing: $spacing-tiny;
}

.world-clocks-grid
{
  font-family: $viva-font-family;
  font-size: $font-size-small;
  font-weight: normal;

  color: $color-fg;

  spacing-rows: $spacing-tiny;
}

.pager-button
{
  width: 18px;
  height: 12px;

  color: $color-fg;
  border-radius: $spacing-none;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active
  {
    background-color: transparent;
  }
}
