
.url-highlighter
{
  link-color: $viva-color1;
}

.secondary-icon
{
  icon-size: 1.09em;
}

.chat-log-message
{
  color: $color-fg-insensitive;
}

.chat-empty-line
{
  font-size: $font-size-small;
}

.chat-received
{
  padding-left: $spacing-tiny;
  color: $color-fg;
}

  .chat-received:rtl
{
    padding-left: $spacing-none;
    padding-right: $spacing-tiny;
}

.chat-sent
{
  padding-left: $spacing-normal;
  color: $color-fg-insensitive;
}

  .chat-sent:rtl
{
    padding-left: $spacing-none;
    padding-right: $spacing-normal;
}

.chat-meta-message
{
  padding-left: $spacing-tiny;
  font-size: $font-size-small;
  font-weight: bold;
  color: $color-fg-insensitive;
}

  .chat-meta-message:rtl
{
    padding-left: $spacing-none;
    padding-right: $spacing-tiny;
}

.chat-notification-scrollview
{
  font-size: $font-size-normal;
  font-weight: normal;
  border-radius: $viva-border-radius;
  border: 1px solid $viva-border-color;
  background: $color-bg;
  box-shadow: $viva-box-shadow-dark;
  color: $color-fg;
  padding: $spacing-normal;
  max-height: 30em;
}

.chat-response,
.chat-response > StEntry
{
  color: $color-fg;
  caret-color: $color-fg;
  caret-size: 1px;
  selected-color: $color-fg;
  font-weight: normal;
  font-size: $font-size-large;
  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-1;
  background-gradient-end: $viva-gradient-2;
  box-shadow: $viva-box-shadow;
  border: 1px solid $viva-border-color;
  border-radius: $viva-border-radius;
  min-width: 20em;
  padding: $spacing-tiny $spacing-small;
  margin-bottom: $spacing-none;
}

.chat-body
{
  spacing: $spacing-tiny;
}

.chat-new-group
{
  padding-top: $spacing-normal;
}

.subscription-message
{
  font-style: italic;
}
