
/* Check Boxes */

.check-box StBoxLayout
{
  spacing: $spacing-normal;
}

.check-box StBin
{
  width: $spacing-large;
  height: $spacing-large;

  color: $color-fg;
  border-radius: $viva-border-radius;
  background-image: none;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
}

.check-box:focus StBin,
.check-box:hover StBin
{
  background-image: none;

  background-gradient-start: rgba(255,255,255,.45);
  background-gradient-end: $viva-gradient-2;
}

.check-box:checked StBin,
.check-box:focus:checked StBin
{
  width: $spacing-large;
  height: $spacing-large;

  color: $color-fg;
  border-radius: $viva-border-radius;
  background-image: none;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}
