
/* Dash */

#dash
{
  font-size: $font-size-normal;

  padding: $spacing-small;

  color: $color-fg;
  border: 1px solid $viva-border-color;
  border-radius: $viva-border-radius;
  border-left: $spacing-none;
  border-radius: $spacing-none;
  background: $color-bg;
  box-shadow: $viva-box-shadow-dark;
  padding-bottom: 0;

  &:rtl
  {
    border-right: 0;
    border-radius: 0;
  }

  .placeholder
  {
    height: 24px;

    background-image: url('./images/dash-placeholder.svg');
    background-size: contain;
  }

  .empty-dash-drop-target
  {
    width: 24px;
    height: 24px;
  }
}

.dash-label
{
  font-size: $font-size-normal;
  font-weight: normal;

  padding: $spacing-small $spacing-normal;

  border: 1px solid $viva-border-color;
  border-radius: $viva-border-radius;
  background: $color-bg;

  -x-offset: 1em;
}

.dash-item-container > StButton
{
  padding: $spacing-none;
}

.show-apps
{
  padding: $spacing-none;
}

.show-apps-icon
{
  color: $color-fg;
}

.show-apps:hover .show-apps-icon
{
  color: $color-fg;
}

#dash .app-well-app
{
  padding: $spacing-none;

  spacing: $spacing-none;
}
