
.end-session-dialog-subject
{
  font-size: $font-size-huge;
}

.end-session-dialog
{
  font-size: $font-size-normal;

  width: 40em;
  padding: $spacing-large;

  color: $fg_color;
  border: 1px solid $viva-border-color;
  border-radius: $border-radius;
  background: $bg_color;
  box-shadow: $viva-box-shadow-dark;

  spacing: $spacing-normal;
}


.end-session-dialog-list
{
  padding: $spacing-none;
}

.end-session-dialog-layout
{
  padding: $spacing-none;
}

.end-session-dialog-layout:rtl
{
  padding: $spacing-none;
}

.end-session-dialog-description,
.end-session-dialog-description:rtl
{
  font-size: $font-size-small;

  width: 30em;
  margin: $spacing-none;
  padding: $spacing-tiny $spacing-none;

  color: $fg_color;
}

.end-session-dialog-warning
{
  width: 28em;
  padding-top: 6px;

  color: $warning-color;
}

.end-session-dialog-warning:rtl
{
  width: 28em;
  padding-top: 6px;

  text-align: right;

  color: $warning-color;
}

.end-session-dialog-logout-icon
{
  padding: $spacing-none;

  border: $spacing-none;
}

.end-session-dialog-shutdown-icon
{
  padding: $spacing-normal;

  border: $spacing-none;
}

.end-session-dialog-inhibitor-layout
{
  font-size: $font-size-normal;

  max-height: 40em;
  padding-left: $spacing-large;

  spacing: $spacing-normal;
}

.end-session-dialog-list-header
{
  font-size: $font-size-small;
  font-weight: normal;
}

.end-session-dialog-session-list,
.end-session-dialog-app-list
{
  spacing: $spacing-normal;
}

.end-session-dialog-app-list-item,
.end-session-dialog-session-list-item
{
  padding: $spacing-tiny;

  spacing: $spacing-normal;
}

.end-session-dialog-app-list-item-name,
.end-session-dialog-session-list-item-name
{
  font-size: $font-size-normal;
  font-weight: bold;
}

.end-session-dialog-app-list-item-description
{
  font-size: $font-size-small;

  color: $fg_color;
}
