
/* default text style */
stage
{
	font-family: $viva-font-family;
	font-size: $font-size-normal;

	color: $color-fg;
}

/* links */
.shell-link
{
	text-decoration: underline;

	color: $viva-color1;
}

.shell-link:hover
{
	color: $viva-color2;
}

StEntry
{
	font-size: $font-size-large;
	font-weight: normal;

	width: 20em;
	margin-bottom: 0;
	padding: $spacing-tiny $spacing-small;

	color: $color-fg;
	border: 1px solid $color-bg;
	border-radius: $viva-border-radius;
	box-shadow: $viva-box-shadow;

	caret-color: $color-fg;
	caret-size: 1px;
	selected-color: $color-fg-selected;
	selection-background-color: $color-bg-selected;
	background-gradient-direction: vertical;
	background-gradient-start: $viva-gradient-1;
	background-gradient-end: $viva-gradient-2;
}

StEntry:focus
{
	border: 1px solid $color-bg-selected;
	box-shadow: $viva-box-shadow;
}

StEntry:insensitive
{
	color: $color-fg-insensitive;
	border-color: $color-bg-insensitive;
	box-shadow: none;
}
StEntry StIcon.capslock-warning
{
	padding: $spacing-none $spacing-tiny;

	icon-size: $font-size-huge;
	viva-color-warning: $viva-color-warning;
}

.headline
{
  font-size: 110%;
}

.lightbox
{
  background-color: black;
}

.flashspot
{
  background-color: $color-fg;
}

/* Background menu */

.background-menu
{
	-boxpointer-gap: 1px;
	-arrow-rise: 1em;
}
