
.candidate-page-button-box
{
  width: 80px;
  height: $spacing-large;
}

.vertical .candidate-page-button-box
{
  padding-top: $spacing-small;
}

.horizontal .candidate-page-button-box
{
  padding-left: $spacing-small;
}

.candidate-page-button
{
  font-size: $font-size-small;
  font-weight: bold;

  padding: $spacing-small 1.2em;

  color: $insensitive_bg_color;
  border: 1px solid transparent;
  border-radius: $border-radius;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.8);
  background-gradient-end: rgba(255,255,255,.5);
}

.candidate-page-button:hover
{
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.5);
  background-gradient-end: rgba(255,255,255,.8);
}

.candidate-page-button:active,
.candidate-page-button:pressed
{
  color: $bg_color;
  border: 1px solid black;
  box-shadow: inset 0 0 1px 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.5);
  background-gradient-end: rgba(255,255,255,.8);
}

.candidate-page-button:insensitive
{
  font-size: $font-size-small;

  color: $insensitive_bg_color;
  border: $spacing-none;
  border-radius: $border-radius;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.9);
  background-gradient-end: rgba(255,255,255,.6);
}

.candidate-page-button-previous
{
  border-radius: $border-radius $spacing-none $spacing-none $border-radius;
}

.candidate-page-button-next
{
  border-radius: $spacing-none $border-radius $border-radius $spacing-none;
}

.candidate-page-button-icon
{
  icon-size: 1em;
}

.candidate-popup-content
{
  padding: $spacing-small;

  spacing: $spacing-tiny;
}

.candidate-index
{
  padding: $spacing-none $spacing-small $spacing-none $spacing-none;

  color: #ccc;
}

.candidate-box
{
  padding: $spacing-tiny $spacing-small $spacing-tiny $spacing-small;
}

.candidate-box:selected
{
  border-radius: $border-radius;
  background-color: rgba(255,255,255,.2);
}

.candidate-box:hover
{
  border-radius: $border-radius;
  background-color: rgba(255,255,255,.1);
}
