
#keyboard
{
  border: 1px solid transparent;
  border-right: $spacing-none;
  border-bottom: $spacing-none;
  border-left: $spacing-none;

  background-gradient-start: transparent;
  background-gradient-end: transparent;
  background-gradient-direction: vertical;
}

.keyboard-layout
{
  padding: $spacing-large;

  border: 1px solid $viva-border-color;
  border-radius: $border-radius;

  spacing: $spacing-normal;
  background-gradient-start: rgba(0,0,0,.9);
  background-gradient-end: rgba(0,0,0,.7);
  background-gradient-direction: vertical;
}

.keyboard-row
{
  spacing: 2px;
}

.keyboard-key
{
  font-size: $font-size-large;
  font-weight: bold;

  width: $spacing-huge;

  padding: $spacing-tiny $spacing-small;

  color: rgba(255,255,255,.8);
  border: 1px solid rgba(0,0,0,0);
  border-radius: $border-radius;
  box-shadow: $viva-box-shadow;

  caret-color: rgba(255,255,255,.6);
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
}

.keyboard-key:grayed
{
  color: black;
}

.keyboard-key:checked,
.keyboard-key:hover
{
  color: white;
  border: 1px solid rgba(0,0,0,0);
  border-radius: $border-radius;
  box-shadow: $viva-box-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.4);
  background-gradient-end: rgba(255,255,255,.2);
}

.keyboard-key:active
{
  color: white;
  border: 1px solid rgba(0,0,0,0);
  border-radius: $border-radius;
  box-shadow: $viva-box-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.2);
  background-gradient-end: rgba(255,255,255,.4);
}

.keyboard-subkeys
{
  padding: 5px;

  color: white;

  -arrow-border-radius: 10px;
  -arrow-background-color: #090909;
  -arrow-border-width: $border-radius;
  -arrow-border-color: white;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}
