
#keyboard
{
  border: 1px solid transparent;
  border-right: $spacing-none;
  border-bottom: $spacing-none;
  border-left: $spacing-none;

  background-gradient-start: transparent;
  background-gradient-end: transparent;
  background-gradient-direction: vertical;
}

.keyboard-layout
{
  padding: $spacing-normal;

  border: 1px solid $viva-border-color;
  border-radius: $viva-border-radius;

  spacing: $spacing-normal;
  background-gradient-start: $color-bg;
  background-gradient-end: $color-bg;
  background-gradient-direction: vertical;
}

.keyboard-row
{
  spacing: $spacing-tiny;
}

.keyboard-key
{
  font-size: $font-size-large;
  font-weight: normal;

  width: $spacing-huge;

  padding: $spacing-tiny $spacing-small;

  color: $color-fg;
  border: 1px solid transparent;
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;

  caret-color: $color-fg-insensitive;
  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;

  &:grayed
  {
    color: $color-bg-insensitive;
  }

  &:checked,
  &:hover,
  &:active
  {
    color: $color-fg-selected;
    border: 1px solid transparent;
    border-radius: $viva-border-radius;
    box-shadow: $viva-box-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-3;
    background-gradient-end: $viva-gradient-2;
  }
}

.keyboard-subkeys
{
  padding: 5px;

  color: red;

  -arrow-border-radius: 10px;
  -arrow-background-color: #090909;
  -arrow-border-width: $viva-border-radius;
  -arrow-border-color: white;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}
