
.legacy-tray
{
  border: 1px solid $viva-border-color;
  border-bottom-width: 0;
  background-color: $color-bg-insensitive;

  &:ltr
  {
    border-left-width: 0;
    border-radius: 0 $viva-border-radius 0 0;
  }

  &:rtl
  {
    border-right-width: 0;
    border-radius: 0 0 0 $viva-border-radius;
  }
}

.legacy-tray-handle StIcon
{
  icon-size: 32px;
}

.legacy-tray-icon
{
  padding: $spacing-tiny;
}

.legacy-tray-icon-box
{
  padding: $spacing-tiny;

  spacing: $spacing-small;

  StButton
  {
    width: 32px;
    height: 32px;
  }

  StButton:focus,
  StButton:hover
  {
    transition-duration: $transition-fast;

    color: $color-fg;
    border-radius: $viva-border-radius;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-2;
    background-gradient-end: $viva-gradient-1;
  }

  StButton:active,
  StButton:clicked
  {
    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
  }
}
