
.modal-dialog
{
  font-size: $font-size-normal;
  font-weight: normal;

  padding: $spacing-none;

  color: $color-fg;
  border: 1px solid $viva-border-color;
  border-radius: $viva-border-radius;
  background: $color-bg;
  box-shadow: $viva-box-shadow-dark;

  .prompt-dialog-password-box,
  .run-dialog-button-box,
  .modal-dialog-content-box
  {
    padding: $spacing-normal;
    spacing: $spacing-none;
  }

  StEntry
  {
    font-size: $font-size-large;
    font-weight: normal;

    min-width: 10em;
    margin-bottom: 0;
    padding: $spacing-tiny $spacing-small;

    color: $color-fg;
    border: 1px solid $color-bg;
    border-radius: $viva-border-radius;
    box-shadow: $viva-box-shadow;

    caret-color: $color-fg;
    caret-size: 1px;
    selected-color: $color-fg;
    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-1;
    background-gradient-end: $viva-gradient-2;

    &:focus
    {
      border: 1px solid $color-bg-selected;
    }

    &:insensitive
    {
      color: rgba(0, 0, 0, .7);
      border: 1px solid $color-fg-insensitive;
    }
  }

  .prompt-dialog-password-entry,
  .run-dialog-entry
  {
    font-size: $font-size-large;
    font-weight: normal;

    min-width: 10em;
    margin-bottom: 0;
    padding: $spacing-tiny $spacing-small;

    color: $color-fg;
    border: 1px solid $color-bg;
    border-radius: $viva-border-radius;
    box-shadow: $viva-box-shadow;

    caret-color: $color-fg;
    caret-size: 1px;
    selected-color: $color-fg;
    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-1;
    background-gradient-end: $viva-gradient-2;

    &:focus
    {
      border: 1px solid $color-bg-selected;
    }
  }

  .run-dialog-label
  {
    font-size: $font-size-normal;
    font-weight: normal;

    padding-bottom: $spacing-tiny;

    color: $color-fg;
  }

  .run-dialog-error-box
  {
    padding: $spacing-tiny;

    color: $viva-color-error;

    spacing: $spacing-tiny;
  }

  .run-dialog-error-label
  {
    font-size: $font-size-normal;
    font-weight: bold;

    color: $viva-color-error;
  }
}

.modal-dialog-linked-button
{
  padding: $spacing-small $spacing-normal;

  color: $color-fg;
  border: $spacing-none;
  border-top: 1px solid $viva-border-color;
  border-right: 1px solid $viva-border-color;
  background-color: transparent;
  box-shadow: inset 0 0 transparent;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
  icon-shadow: $viva-text-shadow;

  &:insensitive
  {
    padding: $spacing-small $spacing-normal;

    color: $color-fg-insensitive;
    border: $spacing-none;
    border-top: 1px solid $viva-border-color;
    border-right: 1px solid $viva-border-color;
    background-color: transparent;
    box-shadow: inset 0 0 transparent;
    text-shadow: $viva-text-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-2;
    background-gradient-end: $viva-gradient-1;
    icon-shadow: $viva-text-shadow;
  }

  &:hover,
  &:focus
  {
    padding: $spacing-small $spacing-normal;

    color: $color-fg-selected;
    border: $spacing-none;
    border-top: 1px solid $viva-border-color;
    border-right: 1px solid $viva-border-color;
    background-color: transparent;
    box-shadow: inset 0 0 transparent;
    text-shadow: $viva-text-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-3;
    background-gradient-end: $viva-gradient-2;
    icon-shadow: $viva-text-shadow;
  }

  &:clicked,
  &:active
  {
    padding: $spacing-small $spacing-normal;

    color: $color-fg-selected;
    border: $spacing-none;
    border-top: 1px solid $viva-color1;
    border-right: 1px solid $viva-border-color;
    background-color: transparent;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
    icon-shadow: $viva-text-shadow;
  }

  &:first-child
  {
    border-radius: $spacing-none;
  }

  &:last-child
  {
    border-right-width: $spacing-none;
    border-radius: $spacing-none;
  }

  &:first-child:last-child
  {
    border-right-width: $spacing-none;
    border-radius: $spacing-none;
  }
}
