
/* Dialog Subject Text Style */
.show-processes-dialog-subject,
.mount-question-dialog-subject
{
  font-size: $font-size-large;
  font-weight: bold;

  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 17px;

  color: $color-fg-insensitive;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon
{
  icon-size: 3em;
}

.mount-password-reask
{
  color: $viva-color-error;
}

.show-processes-dialog,
.mount-question-dialog
{
  font-size: $font-size-normal;
  font-weight: normal;

  min-width: 40em;
  min-height: 20em;
  max-height: 40em;
  padding: 0;

  color: $color-fg;
  border: 1px solid $viva-border-color;
  border-radius: 0;
  background: $color-bg;
  box-shadow: $viva-box-shadow-dark;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject
{
  font-size: $font-size-small;
  font-weight: bold;

  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 17px;

  color: #666;
}

.mount-question-dialog-subject
{
  max-width: 500px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl
{
  padding-right: 17px;
  padding-left: 0;
}

.show-processes-dialog-description,
.mount-question-dialog-description
{
  font-size: $font-size-small;

  width: 28em;
  padding-left: 17px;

  color: $color-fg;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl
{
  padding-right: 17px;
}

.show-processes-dialog-app-list
{
  font-size: $font-size-small;

  max-height: 200px;
  padding-top: 24px;
  padding-right: 32px;
  padding-left: 49px;
}

.show-processes-dialog-app-list:rtl
{
  padding-right: 49px;
  padding-left: 32px;
}

.show-processes-dialog-app-list-item
{
  color: #ccc;
}

.show-processes-dialog-app-list-item:hover
{
  color: $color-fg;
}

.show-processes-dialog-app-list-item:ltr
{
  padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl
{
  padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr
{
  padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl
{
  padding-left: 17px;
}

.show-processes-dialog-app-list-item-name
{
  font-size: $font-size-small;
}
