
.notification-banner
{
	width: 30em;
	height: 4em;
	padding: $spacing-tiny;

	transition-duration: $transition-fast;

	color: $color-fg;
	border: 0 solid transparent;
	border-radius: $viva-border-radius;
	background: $color-bg;
	box-shadow: $viva-box-shadow;
	text-shadow: $viva-text-shadow;
	&:hover,
	&:focus,
	&:active,
	&:selected
	{
		background: $color-bg-selected;
	}
	.notification-icon
	{
		padding: $spacing-tiny;
	}
	.notification-content
	{
		padding: $spacing-tiny;

		spacing: $spacing-tiny;
	}
	.secondary-icon
	{
		icon-size: 1.09em;
	}
	.notification-actions
	{
		padding-top: $spacing-tiny;

		background-color: #1c1f1f;

		spacing: $spacing-tiny;
	}
	.notification-button
	{
		padding: $spacing-tiny;

		background-color: $color-bg;
		&:first-child
		&:last-child
		{
			border-radius: $viva-border-radius;
		}
	}
}

.notification-unexpanded
{
	height: 48px;
	min-height: 48px;
}

.notification-with-image
{
	min-height: 159px;
}

.notification-body
{
	spacing: 0;
}

.summary-source-counter
{
	font-size: $font-size-small;
	font-weight: bold;

	width: 1.6em;
	height: 1.6em;

	color: $color-fg;
	border: 1px solid $viva-border-color;
	border-radius: $viva-border-radius;
	background: $color-bg;
	box-shadow: $viva-box-shadow-dark;

	-shell-counter-overlap-x: 3px;
	-shell-counter-overlap-y: 3px;
}

/* Message list */
.message-list
{
	width: 35em;
	max-height: 6 * ( 5em + $spacing-normal);
}

.message-list-sections
{
	margin: $spacing-none $spacing-small;

	spacing: $spacing-small;
}

.message-list-section,
.message-list-section-list
{
	spacing: $spacing-small;
}

.message-list-section-list:ltr
{
	padding-left: $spacing-small;
}

.message-list-section-list:rtl
{
	padding-right: $spacing-small;
}

.world-clocks-button,
.message-list-section-title,
.message-list-section-title-box
{
	font-family: $viva-font-family-fancy;
	font-size: $font-size-large;
	font-weight: normal;

	color: $color-fg;

	spacing: $spacing-small;
}

.message-list-section-title:hover,
.message-list-section-title:focus
{
	text-decoration: underline;

	border-radius: 0;
	background: transparent;
}

.message-list-section-close > StIcon
{
	transition-duration: $transition-fast;

	color: $color-fg;
	border-color: transparent;
	border-radius: 0;
	background: transparent;
	text-shadow: 1px 1px 2px black;
	border-right: $spacing-normal solid transparent;

	icon-size: 24px;
}

.message-list-section-close
{
	&:hover > StIcon,
	&:focus > StIcon
	{
		transition-duration: $transition-fast;

		color: $color-fg;
		border-color: transparent;
		border-radius: 0;

		icon-size: 24px;
		background-gradient-direction: vertical;
		background-gradient-start: $viva-gradient-2;
		background-gradient-end: $viva-gradient-1;
	}
	&:active > StIcon
	{
		transition-duration: $transition-fast;

		background-gradient-direction: vertical;
		background-gradient-start: $viva-color1;
		background-gradient-end: $viva-color2;
	}
}

.message
{
	font-size: $font-size-normal;
	// offset from the top = tiny + panel-height

	margin-top: $spacing-tiny + $spacing-huge;
	padding: $spacing-small;

	transition-duration: $transition-fast;

	color: $color-fg;
	border-radius: $viva-border-radius;
	background-color: $color-bg;
	border: 1px solid $viva-border-color;

	&:hover,
	&:focus
	{
		transition-duration: $transition-fast;

		color: $color-fg-selected;
		background-color: $color-bg-selected;
		border: 1px solid $viva-border-color-selected;
	}
}

/* messages in the calendar popup */
.message-list .message
{
	margin-top: 0;
	margin-right: $spacing-normal + $spacing-small;
	padding: 0;

	transition-duration: $transition-fast;

	color: $color-fg;

	border: 0;
	background: transparent;

	&:hover,
	&:focus
	{
		transition-duration: $transition-fast;

		color: $color-fg-selected;
		border-color: transparent;

		background-gradient-direction: vertical;
		background-gradient-start: $viva-gradient-2;
		background-gradient-end: $viva-gradient-1;
	}

	&:active,
	&:selected
	{
		transition-duration: $transition-fast;

		color: $color-fg-selected;
		border-color: transparent;

		background-gradient-direction: vertical;
		background-gradient-start: $viva-color1;
		background-gradient-end: $viva-color2;
	}
}

.message-icon-bin,
.message-icon-bin:rtl
{
	padding: $spacing-normal;

	& > StIcon
	{
		icon-size: 48px;
	}
}

.message-secondary-bin
{
	font-size: $font-size-small;

	color: $color-fg;

	& > StIcon
	{
		icon-size: 24px;
	}
}

.message-title
{
	font-size: $font-size-normal;
	font-weight: bold;

	padding-bottom: $spacing-tiny;
}

.message-content
{
	padding: $spacing-small;
}
