
.notification-close
{
	width: 24px;
	height: 24px;

	background-image: url('images/close.png');
	background-size: 16px;

	-shell-close-overlap-x: 0;
	-shell-close-overlap-y: 0;
}

.notification-close:rtl
{
	-shell-close-overlap-x: -14px;
}

.notification-banner:hover,
.notification-banner:focus
{
	background: black;
}

.notification-banner .notification-icon
{
	padding: $spacing-tiny;
}

.notification-banner .notification-content
{
	padding: $spacing-tiny;

	spacing: $spacing-tiny;
}

.notification-banner .secondary-icon
{
	icon-size: 1.09em;
}

.notification-banner .notification-actions
{
	padding-top: $spacing-tiny;

	background-color: #1c1f1f;

	spacing: $spacing-tiny;
}

.notification-banner .notification-button
{
	padding: $spacing-tiny;

	background-color: #222728;
}

.notification-banner .notification-button:first-child
{
	border-radius: 0 0 0 $border-radius;
}

.notification-banner .notification-button:last-child
{
	border-radius: 0 0 $border-radius 0;
}

.notification-banner .notification-button:hover,
.notification-banner .notification-button:focus
{
	background-color: #292f30;
}

.notification-unexpanded
{
	height: 48px;
	min-height: 48px;
}

.notification-with-image
{
	min-height: 159px;
}

.notification-body
{
	spacing: 0;
}


.notification-actions
{
	padding: 0;

	spacing: $spacing-normal;
}

.summary-source-counter
{
	font-size: $font-size-small;
	font-weight: bold;

	width: 1.6em;
	height: 1.6em;

	color: $fg_color;
	border: 1px solid $viva-border-color;
	border-radius: $border-radius;
	background: $bg_color;
	box-shadow: $viva-box-shadow-dark;

	-shell-counter-overlap-x: 3px;
	-shell-counter-overlap-y: 3px;
}

.notification-scrollview
{
	max-height: 18em;

	-st-vfade-offset: 24px;
}

.notification-scrollview:ltr > StScrollBar
{
	padding-left: $spacing-tiny;
}

.notification-scrollview:rtl > StScrollBar
{
	padding-right: $spacing-tiny;
}

.notification-button,
.notification-icon-button
{
	height: 24px;

	transition-duration: $transition-fast;

	color: $fg_color;
	border: 0 solid transparent;
	border-radius: $border-radius;
	box-shadow: $viva-box-shadow;
	text-shadow: 0 1px black;

	background-gradient-direction: vertical;
	background-gradient-start: $viva-gradient-end;
	background-gradient-end: $viva-gradient-start;
}

.notification-button:hover,
.notification-button:focus,
.notification-icon-button:focus,
.notification-icon-button:hover
{
	transition-duration: $transition-fast;

	color: $fg_color;
	border: 0;
	box-shadow: $viva-box-shadow;
	text-shadow: 0 1px black;

	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,.45);
	background-gradient-end: $viva-gradient-end;
}

.notification-button:insensitive,
.notification-icon-button:insensitive
{
	color: grey;
}

.notification-button:active,
.notification-button:pressed,
.notification-icon-button:active,
.notification-icon-button:pressed
{
	transition-duration: $transition-fast;

	color: $fg_color;
	border-radius: $border-radius;
	box-shadow: $viva-box-shadow;
	text-shadow: 0 1px black;

	background-gradient-direction: vertical;
	background-gradient-start: $viva-color1;
	background-gradient-end: $viva-color2;
}

.notification-icon-button > StIcon
{
	width: 16px;
	height: 16px;
	padding: $spacing-small $spacing-normal;

	icon-size: 1.3em;
	spacing: $spacing-normal
}

/* Message list */
.message-list
{
	width: 35em;
}

.message-list-sections
{
	margin: 0 $spacing-small;

	spacing: $spacing-small;
}

.message-list-section,
.message-list-section-list
{
	spacing: $spacing-small
}

.message-list-section-list:ltr
{
	padding-left: $spacing-small
}

.message-list-section-list:rtl
{
	padding-right: $spacing-small
}

.world-clocks-button,
.message-list-section-title,
.message-list-section-title-box
{
	font-family: Raleway;
	font-size: $font-size-huge;
	font-weight: normal;

	color: $fg_color;

	spacing: $spacing-small
}

.message-list-section-title:hover,
.message-list-section-title:focus
{
	text-decoration: underline;

	border-radius: 0;
	background: transparent;
}

.message-list-section-close > StIcon
{
	transition-duration: $transition-fast;

	color: $fg_color;
	border-color: transparent;
	border-radius: 0;
	background: transparent;
	text-shadow: 1px 1px 2px black;

	icon-size: 24px;
}

.message-list-section-close:hover > StIcon,
.message-list-section-close:focus > StIcon
{
	transition-duration: $transition-fast;

	color: $fg_color;
	border-color: transparent;
	border-radius: 0;
	box-shadow: $viva-box-shadow;
	text-shadow: 1px 1px 2px black;

	icon-size: 24px;
	background-gradient-direction: vertical;
	background-gradient-start: $viva-gradient-end;
	background-gradient-end: $viva-gradient-start;
}

.message-list-section-close:active > StIcon
{
	transition-duration: $transition-fast;

	color: $fg_color;
	border-color: transparent;
	border-radius: 0;
	text-shadow: 1px 1px 2px black;

	background-gradient-direction: vertical;
	background-gradient-start: $viva-color1;
	background-gradient-end: $viva-color2;
}

.message
{
	font-size: $font-size-normal;

	margin-top: $spacing-tiny;
	padding: $spacing-small;

	transition-duration: $transition-fast;

	color: $fg_color;
	border: 1px solid $viva-border-color;
	border-top: 0;
	border-radius: 0 0 2px 2px;
	background-color: $bg_color;
}

.message:hover,
.message:focus
{
	transition-duration: $transition-fast;

	background-color: $bg_color;
}

/* messages in the calendar popup */
.message-list .message
{
	margin-top: 0;
	margin-right: $spacing-small;
	padding: 0;

	transition-duration: $transition-fast;

	color: $fg_color;
	border: 0;
	box-shadow: $viva-box-shadow;
	text-shadow: 0 1px black;

	background-gradient-direction: vertical;
	background-gradient-start: $viva-gradient-end;
	background-gradient-end: $viva-gradient-start;
}

.message-list .message:hover,
.message-list .message:focus,
.message-list .message:active
{
	transition-duration: $transition-fast;

	color: $fg_color;
	border-radius: 0;
	box-shadow: $viva-box-shadow;
	text-shadow: 0 1px black;

	background-gradient-direction: vertical;
	background-gradient-start: $viva-color1;
	background-gradient-end: $viva-color2;
}

.message-icon-bin,
.message-icon-bin:rtl
{
	padding: $spacing-normal
}

.message-icon-bin > StIcon
{
	icon-size: 48px;
}


.message-secondary-bin
{
	font-size: $font-size-small;

	color: $fg_color;
}

.message-secondary-bin > StIcon
{
	icon-size: 16px;
}

.message-title
{
	font-size: $font-size-normal;
	font-weight: bold;

	padding-bottom: $spacing-small
}

.message-content
{
	padding: $spacing-normal
}
