
/* Overview */

#overview
{
  font-size: $font-size-normal;

  spacing: $spacing-normal;
  background-gradient-direction: radial;
  background-gradient-start: $color-bg-insensitive;
  background-gradient-end: $color-bg;
}

.overview-controls
{
  padding-bottom: 0;
}

.search-entry
{
  font-size: $font-size-large;
  font-weight: normal;

  min-width: 10em;
  margin-bottom: 0;
  padding: $spacing-tiny $spacing-small;

  color: $color-fg-insensitive;
  border: 1px solid $color-bg;
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;

  caret-color: $color-fg;
  caret-size: 1px;
  selected-color: $color-fg;
  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-1;
  background-gradient-end: $viva-gradient-2;
  .search-entry-icon
  {
    padding: 0 4px;

    color: $color-fg-insensitive;

    icon-size: 1em;
  }
  &:hover,
  &:focus
  {
    padding: $spacing-tiny $spacing-small;

    color: $color-fg;
    border-width: 1px;
    .search-entry-icon
    {
      color: $color-fg;
    }
  }
}

/* Search Results */

#searchResultsBin
{
  max-width: 100em;
  margin: 0 $spacing-normal 0 $spacing-normal;
}

#searchResultsContent
{
  padding-right: $spacing-normal;

  spacing: $spacing-large;
}

.search-section
{
  /* This should be equal to #searchResultsContent spacing */
  spacing: $spacing-large;
}

.search-section-content
{
  spacing: $spacing-large;
}


.search-section-separator
{
  height: 1px;

  -gradient-height: 1px;
  -gradient-start: transparent;
  -gradient-end: $color-fg;
  -margin-horizontal: $spacing-large;
}

.search-statustext,
.no-frequent-applications-label
{
  font-size: $spacing-large;
  font-weight: bold;

  color: $color-fg;
}

.ripple-box,
.ripple-box:rtl
{
  background-image: none;
}

.workspace-thumbnails
{
  padding: $spacing-normal;

  border: 1px solid $viva-border-color;
  border-right: 0;
  border-radius: $viva-border-radius 0 0 $viva-border-radius;
  background: $color-bg;
  box-shadow: $viva-box-shadow-dark;

  spacing: $spacing-normal;
  visible-width: $spacing-large; /* Amount visible before hovering */
}

.workspace-thumbnails:rtl
{
  border-right: 1px;
  border-left: 0;
  border-radius: 0 $viva-border-radius $viva-border-radius 0;
}

.workspace-thumbnail-indicator
{
  padding: $spacing-tiny;

  border: 1px solid $viva-border-color;
  border-radius: $viva-border-radius;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-1;
  background-gradient-end: $viva-gradient-2;
}

.window-caption
{
  font-size: $font-size-normal;
  font-weight: normal;

  padding: $spacing-small $spacing-normal;

  transition-duration: $transition-fast;

  color: $color-fg;
  border: 0;
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
  -shell-caption-spacing: $spacing-small;
}

.window-caption:focus,
.window-caption:hover
{
  transition-duration: $transition-slow;

  color: $color-fg;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}

.window-close
{
  width: 32px;
  height: 32px;

  color: $color-fg;
  border-radius: $viva-border-radius;
  background-color: $viva-color1;
  background-image: url('images/close.png');
  background-size: 16px;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  -shell-close-overlap: 16px;
}

.window-close:rtl
{
  -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,.5);
}

.window-clone-border
{
  font-size: $font-size-normal;
  font-weight: normal;

  color: $color-fg;
  border: 0;
  border-radius: 0;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
}

.window-picker
{
  padding-right: $spacing-huge;
  padding-bottom: $spacing-huge;
  padding-left: $spacing-huge;

  -horizontal-spacing: 5em;
  -vertical-spacing: 5em;
}

.window-picker.external-monitor
{
  padding: 32px;
}

/* Application Launchers, Grid and List results */

.icon-grid
{
  spacing: $spacing-small;
  -shell-grid-horizontal-item-size: 128px;
  -shell-grid-vertical-item-size: 128px;
  .overview-icon
  {
    icon-size: 96px;
  }
}

.app-display
{
  padding: $spacing-normal;

  spacing: $spacing-normal;
}

.app-view-controls
{
  width: 30em;
  padding: 0;
}

.app-view-control
{
  font-weight: normal;

  margin: $spacing-tiny;
  padding: $spacing-tiny $spacing-small;

  color: $color-fg;
  border-color: transparent;
  border-radius: $spacing-none;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
  &:hover,
  &:focus
  {
    text-shadow: $viva-text-shadow;
  }
  &:active,
  &:checked
  {
    font-weight: normal;

    color: $color-fg;
    border-color: transparent;
    border-radius: $spacing-none;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
  }
  &:first-child:ltr,
  &:first-child:rtl,
  &:last-child:rtl,
  &:last-child:ltr
  {
    border-left-width: 0;
    border-radius: 0;
  }
}

.search-display > StBoxLayout,
.all-apps,
.frequent-apps > StBoxLayout
{
  /* horizontal padding to make sure scrollbars or dash don't overlap content */
  padding: $spacing-small;
}

.page-indicator
{
  padding: $spacing-normal;
  .page-indicator-icon
  {
    width: $spacing-large;
    height: $spacing-large;

    color: $color-fg;
    border-radius: $viva-border-radius;
    background-image: none;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-2;
    background-gradient-end: $viva-gradient-1;
  }
  &:focus .page-indicator-icon,
  &:hover .page-indicator-icon
  {
    background-image: none;

    background-gradient-start: $viva-gradient-3;
    background-gradient-end: $viva-gradient-2;
  }
  &:active .page-indicator-icon,
  &:checked .page-indicator-icon
  {
    background-image: none;

    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
  }
}

.no-frequent-applications-label
{
  font-size: $font-size-huge;

  color: #999;
}

.app-folder-icon
{
  padding: 5px;

  spacing-rows: 5px;
  spacing-columns: 5px;
}

.list-search-result-content
{
  padding: $spacing-small;

  spacing: $spacing-small;
}

.list-search-result-title
{
  font-family: $viva-font-family-fancy;
  font-weight: normal;

  padding-bottom: $spacing-tiny;

  color: $color-fg;
}

.list-search-result-description
{
  font-size: $font-size-normal;
  font-weight: normal;
}

.search-provider-icon,
.list-search-result
{
  font-size: $font-size-normal;
  font-weight: normal;

  padding: $spacing-normal;

  transition-duration: $transition-fast;
  text-align: center;

  color: $color-fg;
  border: $spacing-none;
  border-radius: $spacing-none;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  &:focus,
  &:selected,
  &:hover
  {
    transition-duration: $transition-slow;

    color: $color-fg-selected;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-2;
    background-gradient-end: $viva-gradient-1;
  }
  &:active,
  &:checked
  {
    transition-duration: $transition-fast;

    color: $color-fg-selected;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
  }
}

.list-search-result:hover .list-search-result-description
{
  text-shadow: $viva-text-shadow;
}

.search-provider-icon-more
{
  width: 0;
  height: 0;
}

.app-well-app,
.app-well-app.app-folder,
.show-apps,
.grid-search-result
{
  & .overview-icon
  {
    font-size: $font-size-normal;
    font-weight: normal;

    padding: $spacing-small;

    transition-duration: $transition-fast;
    text-align: center;

    color: $color-fg;
    border: 0;
    border-radius: $spacing-none;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;
  }
  &:hover .overview-icon,
  &:focus .overview-icon,
  &:selected .overview-icon
  {
    transition-duration: $transition-slow;

    color: $color-fg-selected;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-gradient-2;
    background-gradient-end: $viva-gradient-1;
  }
  &:active .overview-icon,
  &:checked .overview-icon
  {
    transition-duration: $transition-slow;

    color: $color-fg-selected;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
  }
}

.app-well-app-running-dot
{
  width: $spacing-huge;
  height: $spacing-tiny;

  transition-duration: $transition-fast;

  color: $color-fg;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}

.app-well-app > .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label
{
  /* since the label controls its own spacing, it is visually more
  consistent to use different padding values for top and bottom */
  padding: $spacing-normal $spacing-small $spacing-tiny $spacing-small;

  spacing: $spacing-tiny;
}

.app-folder-popup
{
  -arrow-border-radius: 0;
  -arrow-background-color: $viva-gradient-1;
  -arrow-border-width: 1px;
  -arrow-border-color: $viva-gradient-2;
  -arrow-base: 20px;
  -arrow-rise: 10px;
}

.app-folder-popup-bin
{
  padding: 0;
}

.app-display .app-well-app > .overview-icon
{
  border-radius: 0;
}

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon
{
  transition-duration: $transition-slow;

  color: $color-fg;
}
