
#panel,
#panel.lock-screen,
#panel.unlock-screen,
#panel.login-screen
{
  font-size: $font-size-normal;
  font-weight: normal;

  height: $spacing-huge;

  color: transparent;
  border: $spacing-none;
  background-color: $bg_color;
  box-shadow: inset 0 -1px $viva-border-color;
}

#panel.unlock-screen,
#panel.login-screen
{
  background-color: transparent;
}

#panelLeft,
#panelCenter
{
  spacing: $spacing-normal;
}

#panelLeft:rtl,
#panelRight:ltr
{
  padding-left: $spacing-tiny;
}

#panelLeft:ltr,
#panelRight:rtl
{
  padding-right: $spacing-tiny;
}

#panel .panel-corner,
#panel .panel-corner:active,
#panel .panel-corner:overview,
#panel .panel-corner:focus,
#panel .panel-corner.lock-screen,
#panel .panel-corner.unlock-screen,
#panel .panel-corner.login-screen
{
  -panel-corner-background-color: transparent;
  -panel-corner-border-color: transparent;
}

#appMenu
{
  padding: $spacing-none $spacing-normal;

  spinner-image: url('./images/process-working.svg');
  spacing: $spacing-none;
}

/* used for the app menu header only */
#appMenu  .label-shadow
{
  color: $insensitive_bg_color;
}

#panel .panel-button #appMenuIcon,
#panel .panel-button:active #appMenuIcon,
#panel .panel-button:checked #appMenuIcon,
#panel .panel-button:focus #appMenuIcon
{
  app-icon-bottom-clip: 1px;
}

#panel .app-menu-icon
{
  width: 24px;
  height: 24px;
}

#panel .panel-button .app-menu-icon
{
  margin-right: $spacing-none;
  margin-left: $spacing-none;

  -st-icon-style: symbolic;
}

#panel .panel-button,
.unlock-screen #panel .panel-button,
.login-screen #panel .panel-button,
.lock-screen #panel .panel-button
{
  font-size: $font-size-normal;
  font-weight: bold;

  color: rgba(255,255,255,.7);

  -natural-hpadding: $spacing-normal;
  -minimum-hpadding: $spacing-normal;
}

.unlock-screen #panel .panel-button:focus,
.unlock-screen #panel .panel-button:hover,
.unlock-screen #panel .panel-button:active,
.login-screen #panel .panel-button:focus,
.login-screen #panel .panel-button:hover,
.login-screen #panel .panel-button:active,
.lock-screen #panel .panel-button:focus,
.lock-screen #panel .panel-button:hover,
.lock-screen #panel .panel-button:active
{
  color: $fg_color;
}

#panel .panel-button:hover,
#panel .panel-status-button:active,
#panel .panel-status-button:checked,
#panel .panel-status-button:focus
{
  color: $fg_color;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-end;
  background-gradient-end: $viva-gradient-start;
}

#panel .panel-button:active,
#panel .panel-button:overview,
#panel .panel-button:focus,
#panel .panel-button:checked
{
  color: $fg_color;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}

#panel .panel-button .system-status-icon
{
  padding: $spacing-none;

  icon-size: 1.09em;
}

#panel .panel-button:active > .system-status-icon,
#panel .panel-button:overview > .system-status-icon,
#panel .panel-button:focus > .system-status-icon,
#panel .panel-button:checked > .system-status-icon
{
  icon-shadow: black 0 0 3px;
}

.popup-menu.panel-menu
{
  -boxpointer-gap: 1px;
}

#panel .panel-status-indicators-box,
#panel .panel-status-menu-box
{
  spacing: $spacing-normal;
}

#panel .screencast-indicator
{
  color: $warning-color;
}

.aggregate-menu
{
  width: 25em;
}

.aggregate-menu .popup-menu-icon,
.system-switch-user-submenu-icon
{
  padding: $spacing-none;
  padding-right: $spacing-normal;

  border: $spacing-none;

  icon-size: 1.5em;
}

.system-switch-user-submenu-icon.user-icon
{
  padding: $spacing-none $spacing-tiny;

  icon-size: 20px;
}
.system-switch-user-submenu-icon.default-icon
{
  padding: 0;
  padding-right: $spacing-normal;

  icon-size: 16px;
}

.system-menu-action
{
  padding: $spacing-normal;

  transition-duration: $transition-fast;

  color: $fg_color;
  border: $spacing-none;
  background: transparent;
}

.system-menu-action:hover,
.system-menu-action:focus,
.system-menu-action:active
{
  padding: $spacing-normal;

  transition-duration: $transition-fast;

  color: $fg_color;
  border-radius: $spacing-none;
  border-radius: 1px;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}

.system-menu-action > StIcon
{
  icon-size: 1.5em;
}

.screencast-indicator
{
  color: red;
}

/* PopupMenu */

.popup-menu-boxpointer,
.candidate-popup-boxpointer
{
  -arrow-border-radius: $spacing-none;
  -arrow-background-color: $bg_color;
  -arrow-border-width: 1px;
  -arrow-border-color: $viva-border-color;
  -arrow-base: $spacing-large;
  -arrow-rise: $spacing-normal;
}

.popup-menu
{
  font-size: $font-size-small;

  min-width: 3em;
}

.popup-menu-ornament
{
  width: $spacing-none;
  margin-left: $spacing-none;

  text-align: right;
}

.popup-menu-arrow
{
  width: $spacing-none;
  height: $spacing-none;
  margin: $spacing-none;
  padding: $spacing-none;

  color: transparent;

  spacing: $spacing-none;
}

.popup-menu .popup-sub-menu
{
  margin: $spacing-none;
  padding: $spacing-none;

  color: $fg_color;
  box-shadow: inset 0 -1px 1px 0 $viva-border-color;
  text-shadow: 1px 1px solid black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-start;
  background-gradient-end: $viva-gradient-start;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu .popup-menu-content
{
  padding: $spacing-small $spacing-none;
}

.popup-menu .popup-menu-item
{
  spacing: $spacing-normal;
}

.popup-menu .popup-menu-item:ltr
{
  padding: $spacing-small $spacing-large $spacing-small $spacing-normal;
}

.popup-menu .popup-menu-item:rtl
{
  padding: $spacing-small $spacing-normal $spacing-small $spacing-large;
}

.popup-menu .popup-menu-item:focus,
.popup-menu .popup-menu-item:hover
{
  font-weight: normal;

  color: $fg_color;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-end;
  background-gradient-end: $viva-gradient-start;
}

.popup-menu .popup-menu-item:checked,
.popup-menu .popup-menu-item:active
{
  font-weight: normal;

  color: $fg_color;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}

.popup-menu .popup-menu-item:insensitive
{
  color: grey;
}

.popup-menu .popup-inactive-menu-item
{
  color: $fg_color;
}

.popup-menu .popup-inactive-menu-item:insensitive
{
  color: $insensitive_fg_color;
}
.popup-menu .active
{
  background-color: transparent;
}

.popup-menu .popup-separator-menu-item
{
  height: 1px;
  margin: 1px 0;

  border-bottom: 1px solid $fg_color;
}

.popup-alternating-menu-item:alternate
{
  font-weight: bold;
}

.popup-status-menu-item
{
  font-weight: normal;

  color: $fg_color;
}

.popup-menu-icon
{
  icon-size: 1.3em;
}

/* Slider */
.slider
{
  min-width: 5 * $spacing-normal;
  height: $spacing-normal;

  color: $fg_color;

  -slider-height: $spacing-tiny;
  -slider-background-color: $insensitive_fg_color;
  -slider-border-color: $insensitive_bg_color;
  -slider-border-width: 1px;
  -slider-handle-radius: $spacing-small;
  -slider-active-background-color: $viva-color2;
  -slider-active-border-color: $insensitive_bg_color;
}
