
#panel
{
  font-size: $font-size-normal;
  font-weight: normal;

  height: $spacing-huge;

  color: transparent;
  border: $spacing-none;
  background-color: $color-bg;
  box-shadow: inset 0 -1px $viva-border-color;
  text-shadow: $viva-text-shadow;

  &.lock-screen,
  &.unlock-screen,
  &.login-screen
  {
    background-color: $color-bg;
  }

  #panelLeft,
  #panelCenter,
  #panelRight
  {
    spacing: $spacing-none;
  }

  .panel-corner
  {
    -panel-corner-background-color: transparent;
    -panel-corner-border-color: transparent;

    &:active,
    &:overview,
    &:focus,
    &.lock-screen,
    &.unlock-screen,
    &.login-screen
    {
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent;
    }
  }

  .panel-button
  {
    font-size: $font-size-normal;
    font-weight: bold;

    color: $color-fg;
    // border: 1px solid $viva-border-color;
    // border-radius: $viva-border-radius;
    // margin: $spacing-small $spacing-normal;
    // background: $color-bg;

    // -natural-hpadding: $spacing-normal;
    // -minimum-hpadding: $spacing-normal;

    &:hover,
    &focus
    {
      color: $color-fg-selected;
      box-shadow: $viva-box-shadow;
      text-shadow: $viva-text-shadow;

      background-gradient-direction: vertical;
      background-gradient-start: $viva-gradient-2;
      background-gradient-end: $viva-gradient-1;

      & > .system-status-icon
      {
        icon-shadow: black 0 2px 2px;
      }
    }

    &:active,
    &:overview,
    &:checked
    {
      color: $color-fg-selected;
      box-shadow: $viva-box-shadow;
      text-shadow: $viva-text-shadow;

      background-gradient-direction: vertical;
      background-gradient-start: $viva-color1;
      background-gradient-end: $viva-color2;

      & > .system-status-icon
      {
        icon-shadow: black 0 1px 1px;
      }
    }

    .app-menu-icon
    {
      margin-right: $spacing-tiny;
      margin-left: $spacing-tiny;

      -st-icon-style: symbolic;
    }

    .system-status-icon
    {
      padding: $spacing-tiny;

      icon-size: 1.09em;
    }

    .unlock-screen &,
    .login-screen &,
    .lock-screen &
    {
      color: $color-fg;
      &:focus,
      &:hover,
      &:active
      {
        color: $color-fg-selected;
      }
    }
  }

  .app-menu-icon
  {
    width: 24px;
    height: 24px;
  }

  .panel-status-indicators-box,
  .panel-status-menu-box
  {
    spacing: $spacing-tiny;
  }

  .screencast-indicator
  {
    color: $viva-color-error;
  }
}

#appMenu
{
  // spinner-image: url('images/process-working.svg');
  spinner-image: url('resource:///org/gnome/shell/theme/process-working.svg');
  spacing: $spacing-tiny;
  padding-left: $spacing-small;
  padding-right: $spacing-normal;

  /* used for the app menu header only */
  .label-shadow
  {
    color: $color-bg-insensitive;
  }
}

.aggregate-menu
{
  width: 25em;
}

.aggregate-menu .popup-menu-icon,
.system-switch-user-submenu-icon
{
  padding: $spacing-none;
  padding-right: $spacing-normal;

  border: $spacing-none;

  icon-size: 1.5em;
}

.system-switch-user-submenu-icon.user-icon
{
  padding: $spacing-none $spacing-tiny;

  icon-size: 20px;
}
.system-switch-user-submenu-icon.default-icon
{
  padding: 0;
  padding-right: $spacing-normal;

  icon-size: 16px;
}

.system-menu-action
{
  -st-icon-style: symbolic;
  padding: $spacing-normal;

  transition-duration: $transition-fast;

  color: $color-fg;
  border: $spacing-none;
  border-radius: $viva-border-radius;
  background: transparent;

  &:hover,
  &:focus,
  &:active
  {
    padding: $spacing-normal;

    transition-duration: $transition-fast;

    color: $color-fg;
    border-radius: $spacing-none;
    border-radius: 1px;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;

    background-gradient-direction: vertical;
    background-gradient-start: $viva-color1;
    background-gradient-end: $viva-color2;
  }

  & > StIcon
  {
    icon-size: 1.5em;
  }
}

/* PopupMenu */
.popup-menu-boxpointer,
.candidate-popup-boxpointer
{
  -arrow-border-radius: $spacing-none;
  -arrow-background-color: $color-bg;
  -arrow-border-width: 1px;
  -arrow-border-color: $viva-border-color;
  -arrow-base: $spacing-large;
  -arrow-rise: $spacing-normal;
}

.popup-menu
{
  font-size: $font-size-small;

  min-width: 15em;

  .popup-menu-arrow { } //defined globally in the TOP BAR

  /* The remaining popup-menu sizing is all done in ems, so that if you
   * override .popup-menu.font-size, everything else will scale with it.
   */
  .popup-menu-content
  {
    padding: $spacing-small $spacing-none;
  }

  .popup-menu-item
  {
    spacing: $spacing-small;
    padding: $spacing-small $spacing-normal $spacing-small $spacing-small;
    margin: $spacing-none $spacing-small;

    font-weight: normal;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;

    &:rtl
    {
      padding: $spacing-small $spacing-normal $spacing-small $spacing-large;
    }

    &:focus,
    &:hover
    {
      color: $color-fg-selected;

      background-gradient-direction: vertical;
      background-gradient-start: $viva-gradient-2;
      background-gradient-end: $viva-gradient-1;
    }

    &:checked,
    &:active
    {
      color: $color-fg-selected;

      background-gradient-direction: vertical;
      background-gradient-start: $viva-color1;
      background-gradient-end: $viva-color2;
    }

    &:insensitive
    {
      color: $color-fg-insensitive;
    }
  }

  .popup-sub-menu
  {
    margin: $spacing-none $spacing-small;
    padding: $spacing-none;

    color: $color-fg;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;

    background: $viva-gradient-1;

    .popup-menu-item
    {
      margin: $spacing-none $spacing-none;
    }
  }

  .popup-inactive-menu-item
  {
    color: $color-fg;

    &:insensitive
    {
      color: $color-fg-insensitive;
    }
  }

  &.panel-menu
  {
    -boxpointer-gap: 0;
  }

  .popup-separator-menu-item
  {
    height: 1px;
    margin: 1px 0;

    border-bottom: 1px solid $color-fg;
  }
}

.popup-menu-ornament
{
  width: $spacing-none;
  margin-left: $spacing-none;

  text-align: right;
}

.popup-menu-arrow
{
  width: $spacing-none;
  height: $spacing-none;
  margin: $spacing-none;
  padding: $spacing-none;

  color: transparent;

  spacing: $spacing-none;
}

.popup-alternating-menu-item:alternate
{
  font-weight: bold;
}

.popup-status-menu-item
{
  font-weight: normal;

  color: $color-fg;
}

.popup-menu-icon
{
  icon-size: 1.3em;
}

/* Slider */
.slider
{
  min-width: 5 * $spacing-normal;
  height: $spacing-normal;

  color: $color-fg;
  -barlevel-height: $spacing-tiny;
  -barlevel-background-color: $color-fg-insensitive; //background of the trough
  -barlevel-border-color: $color-bg-insensitive; //trough border color
  -barlevel-active-background-color: $viva-color2; //active trough fill
  -barlevel-active-border-color: $color-bg-insensitive; //active trough border
  -barlevel-overdrive-color: $color-bg-insensitive;
  -barlevel-overdrive-border-color: $viva-color2;
  -barlevel-overdrive-separator-width: $spacing-small;
  -barlevel-border-width: 1px;
  -slider-handle-radius: 6px;
}
