
/* Password or Authentication Dialog */

.prompt-dialog
{
  font-size: $font-size-normal;
  font-weight: normal;

  min-width: 40em;
  min-height: 20em;
  max-height: 40em;
  padding: $spacing-none;

  color: $fg_color;
  border: 1px solid $viva-border-color;
  border-radius: $border-radius;
  background: $bg_color;
  box-shadow: $viva-box-shadow-dark;
}

.prompt-dialog-main-layout
{
  font-size: $font-size-small;

  padding: $spacing-none;

  spacing: $spacing-normal;
}

.prompt-dialog-message-layout
{
  padding: $spacing-none;

  spacing: $spacing-normal;
}

.prompt-dialog-headline
{
  font-family: $font-family-fancy;
  font-size: $font-size-huge;
  font-weight: normal;

  padding: $spacing-tiny $spacing-none;

  text-align: center;

  color: $fg_color;
}

.prompt-dialog-description
.prompt-dialog-description:rtl
{
  font-size: $font-size-small;

  width: 30em;
  margin: $spacing-none;
  padding: $spacing-tiny $spacing-none;

  color: $fg_color;
}

.prompt-dialog-password-box
{
  font-size: $font-size-small;
  font-weight: normal;

  spacing: $spacing-normal;
}

.prompt-dialog-error-label
{
  font-size: $font-size-normal;
  font-weight: bold;

  color: $error-color;
}

.prompt-dialog-info-label
{
  font-size: $font-size-small;

  padding-bottom: $spacing-none;
}

.hidden
{
  color: transparent;
}

.prompt-dialog-null-label
{
  font-size: $font-size-small;

  padding-bottom: $spacing-none;
}

.prompt-dialog-password-entry .capslock-warning
{
  padding: $spacing-none $spacing-tiny;

  icon-size: 1.3em;
  warning-color: $error-color;
}
