
.polkit-dialog-user-layout,
.polkit-dialog-user-layout:rtl
{
	font-family: $viva-font-family-fancy;
	font-size: $font-size-huge;

	padding: $spacing-none;

	color: $color-fg;

	spacing: $spacing-normal;
}

.polkit-dialog-user-root-label
{
	color: $viva-color-warning;
}
