
/* Scroll Bars */

StScrollBar
{
  padding: $spacing-tiny;

  StScrollView &
  {
    min-width: $spacing-large;
    min-height: $spacing-large;
    padding: 0;
  }

  StBin#trough
  {
    background-color: transparent;
  }

  StButton
  {
    color: color-fg;

    border: 1px solid transparent;
    border-radius: $viva-border-radius;
    box-shadow: $viva-box-shadow;
    text-shadow: $viva-text-shadow;

    background-gradient-start: $viva-gradient-1;
    background-gradient-end: $viva-gradient-2;

    &#vhandle
    {
      background-gradient-direction: vertical;

      &:focus,
      &:hover
      {
        background-gradient-start: $viva-gradient-2;
        background-gradient-end: $viva-gradient-3;
      }

      &:active
      {
        background-gradient-start:$viva-color1;
        background-gradient-end: $viva-color2;
      }
    }

    &#hhandle
    {
      background-gradient-direction: horizontal;

      &:focus,
      &:hover
      {
        background-gradient-start: $viva-gradient-2;
        background-gradient-end: $viva-gradient-3;
      }

      &:active
      {
        background-gradient-start: $viva-color1;
        background-gradient-end: $viva-color2;
      }
    }
  }
}

StScrollView.vfade
{
  -st-vfade-offset: 8*$spacing-normal;
}

StScrollView.hfade
{
  -st-hfade-offset: 8*$spacing-normal;
}
