
/* Screen shield */

.screen-shield-background
{
  background: black;
  box-shadow: $viva-box-shadow-dark;
}

#lockDialogGroup
{
  background: black;
}

.screen-shield-arrows
{
  padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow
{
  width: 8em;
  height: 4em;

  color: white;

  -arrow-thickness: 1em;
  -arrow-shadow: 1px 2px 1px rgba(0,0,0,.8);
}

.screen-shield-contents-box
{
  spacing: 4em;
}

.screen-shield-clock
{
  font-family: Raleway;

  padding-bottom: 1.5em;

  text-align: center;

  color: white;
  text-shadow: 1px 2px 2px black;
}

.screen-shield-clock-time
{
  font-family: Raleway;
  font-size: 140px;
  line-height: 180px;

  text-shadow: 1px 2px 4px rgba(0,0,0,1.0);
}

.screen-shield-clock-date
{
  font-family: Raleway;
  font-size: 72px;
  line-height: 110px;
}

#screenShieldNotifications StButton#vhandle,
#screenShieldNotifications StButton#hhandle
{
  border: none;
  background-color: rgba(0,0,0,.3);
}

#screenShieldNotifications StButton#vhandle:hover,
#screenShieldNotifications StButton#vhandle:focus,
#screenShieldNotifications StButton#hhandle:hover,
#screenShieldNotifications StButton#hhandle:focus
{
  background-color: rgba(0,0,0,.6);
}

#screenShieldNotifications StButton#vhandle:active,
#screenShieldNotifications StButton#hhandle:active
{
  background-color: rgba(0,0,0,.8);
}


.screen-shield-notifications-container
{
  width: 30em;
  max-height: 500px;

  background-color: transparent;

  spacing: 6px;
}

.screen-shield-notifications-container .summary-notification-stack-scrollview
{
  padding-top: 0;
  padding-bottom: 0;
}

.screen-shield-notifications-container .notification,
.screen-shield-notifications-container .screen-shield-notification-source
{
  padding: 12px 6px;

  color: #eeeeec;
  border: 1px solid rgba(238, 238, 236, .2);
  border-radius: 4px;
  background-color: rgba(46, 52, 54, .5);
}

.screen-shield-notifications-container .notification
{
  margin-right: 15px;
}

.screen-shield-notification-label
{
  font-weight: bold;

  padding: 0 0 0 12px;
}

.screen-shield-notification-count-text
{
  padding: 0 0 0 12px;
}


.input-source-switcher-symbol
{
  font-size: 34pt;

  width: 96px;
  height: 96px;
}
