/* Tile previews */

.tile-preview,
.tile-preview-left.on-primary,
.tile-preview-right.on-primary,
.tile-preview-left.tile-preview-right.on-primary
{
	color: $color-fg;
	border-width: $spacing-none;
	border-radius: $viva-border-radius;
	box-shadow: $viva-box-shadow;
	text-shadow: $viva-text-shadow;

	background-gradient-direction: vertical;
	background-gradient-start: $viva-color1;
	background-gradient-end: $viva-color2;
}
