/* Tile previews */

.tile-preview,
.tile-preview-left.on-primary,
.tile-preview-right.on-primary,
.tile-preview-left.tile-preview-right.on-primary
{
	color: $fg_color;
	border-width: $spacing-none;
	border-radius: $border-radius;
	box-shadow: $viva-box-shadow;
	text-shadow: 1px 1px 2px black;

	background-gradient-direction: vertical;
	background-gradient-start: $viva-color1;
	background-gradient-end: $viva-color2;
}
