
/* Workspace Switcher */
.workspace-switcher-group
{
  padding: $spacing-none;
}

.workspace-switcher-container
{
  padding: $spacing-normal;

  border: 1px solid $viva-border-color;
  border-radius: $viva-border-radius;
  background: $color-bg;
}

.workspace-switcher
{
  padding: $spacing-none;

  border: $spacing-none;
  border-radius: $spacing-none;
  background: transparent;
  box-shadow: inset 0 0 1px 1px transparent;

  spacing: $spacing-normal;
}

.ws-switcher-active-up,
.ws-switcher-active-down
{
  height: 3em;

  color: $color-fg;
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}

.ws-switcher-box
{
  height: $spacing-huge;

  border: 1px solid transparent;
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-1;
  background-gradient-end: $viva-gradient-2;
}
