
/* App Switcher */
.switcher-popup {
    padding: 1em;
    spacing: .5em;
}

.osd-window,
.switcher-list {
    border: 1px solid rgba(174,167,159,0.4);
    background-color: rgba(0,0,0,0.9);
    border-radius: 2px;
    padding: 1em;
    font-size: 12pt;
    font-weight: normal;
    color: white;
}

.switcher-list-item-container {
    spacing: .5em;
}

.switcher-list .item-box {
    font-weight: normal;
    font-size: 12pt;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 2px;
    transition-duration: 100ms;
}

.switcher-list .item-box:selected,
.switcher-list .item-box:outlined {
    padding: 1em;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(243,115,32,.8);
    background-gradient-end: rgba(221,72,20,.8);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
    transition-duration: 100ms;
}

.switcher-list .thumbnail-box {
    padding: 0;
    spacing: 0;
}

.switcher-list .thumbnail {
    padding: 0;
    spacing: .5em;
    width: 256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
    border:1px solid red;
}

.switcher-arrow,
.switcher-arrow:highlighted {
    border-color: transparent;
    color: white;
}

/* fallback menu
- odd thing for styling App menu when apparently not running under shell. Light Adwaita styled
  app menu inside the main app window itself rather than the top bar
*/

/* OSD */
.osd-window {
    spacing: 1em;
    text-align: center;
/*font-weight: bold;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;*/
}

.osd-window .level {
    height: .5em;
    border-radius: 2px;
    color: rgba(221,72,20,.9);
/*  background-color: rgba(11, 12, 13, 0.5);*/
}
.osd-window .osd-monitor-label
{
    font-size: 3em;
}
