
.button
{
  font-size: 12pt;
  font-weight: normal;
  color: rgba(255,255,255,0.8);
  border: 1px solid transparent;
  border-radius: 2px;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,0.2);
  background-gradient-end: rgba(255,255,255,0.1);
  box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
  padding: .5em 2em;
  icon-shadow: 0 1px black;
}

.button:focus,
.button:hover,
.button:insensitive
{
  color: white;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,0.4);
  background-gradient-end: rgba(255,255,255,0.2);
  border: 1px solid transparent;
  icon-shadow: 0 1px black;
}

.button:active
{
  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
  box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: normal;
}
