
/* Calendar popup */


#calendarArea
{
  padding: 0.75em 1.0em;
}

.calendar
{
    margin: 0;
    padding: 0 1.5em;
    spacing-rows: 0;
    spacing-columns: 0;
    spacing: 0;
}

.calendar-month-label {
    margin: .5em 0;
    font-family: Raleway;
    font-size: 14pt;
    font-weight: normal;
    color: white;
}

.calendar-month-label:focus {
    background-color: transparent;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-color: transparent;
    background-image: url("../images/calendar-arrow-left.svg");
}

.calendar-change-month-back:rtl {
    background-image: url("../images/calendar-arrow-right.svg");
}

.calendar-change-month-back:hover,
.calendar-change-month-back:focus,
.calendar-change-month-back:active {
    background-color: transparent;
    background-image: url("../images/calendar-arrow-left-hover.svg");
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-color: transparent;
    background-image: url("../images/calendar-arrow-right.svg");
}

.calendar-change-month-forward:rtl {
    background-image: url("../images/calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover,
.calendar-change-month-forward:focus,
.calendar-change-month-forward:active {
    background-color: transparent;
    background-image: url("../images/calendar-arrow-right-hover.svg");
}

.calendar-day-base {
    font-size: 10pt;
    text-align: center;
    width: 2.5em;
    height: 2em;
    border: 1px solid rgba(174,167,159,0.15);
    border-radius: 0;
    border-bottom: 0;
    border-right: 0;
    margin: 0;
    padding: 5px;
    transition-duration: 100ms;
}

.calendar-day-base:hover,
.calendar-day-base:focus {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,.3);
    background-gradient-end: rgba(255,255,255,.1);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
    border-radius: 0;
    color: white;
    text-shadow: 1px 1px 2px black;
    border-color: transparent;
    transition-duration: 100ms;
}

.calendar-day-base:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(243,115,32,.8);
    background-gradient-end: rgba(221,72,20,.8);
    border-radius: 0px;
    border-color: transparent;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.calendar-day-base.calendar-day-heading
{
    font-size: 10pt;
    font-weight: bold;
    border: 1px solid rgba(174,167,159,0.15);
    border-radius: 0;
    padding: 0 .6em;
    border-top: 0;
    border-right: 0;
    margin: 0;
}

.calendar-day {
    font-size: 10pt;
    text-align: center;
}

.calendar-day-top {
    border-top-width: 0px;
}

.calendar-day-left {
    border-left-width: 1px;
}

.calendar-nonwork-day {
    background-color: rgba(255, 255, 255, .05);
    color: rgba(255, 255, 255, .6);
}

.calendar-today {
    border: 1px solid rgba(221,72,20,0.7);
    border-radius: 2px;
    text-shadow: 0;
    background-image: none;
}

.calendar-day-with-events {
    font-weight: bold;
    color: white;
}

.calendar-other-month-day {
    color: rgba(255, 255, 255, .2);
}
.calendar-week-number {
    border-left: 0;
    border-bottom: 0;
}

.datemenu-today-button,
.datemenu-displays-box,
{
  margin: 0 1.5em;
}

.datemenu-calendar-column
{
  spacing: 0.5em;
}

.datemenu-displays-section
{
  padding-bottom: .5em;
}

.datemenu-today-button,
.world-clocks-button
{
  border-radius: 0;
  padding: .5em;
}

.datemenu-today-button:hover,
.datemenu-today-button:focus,
.world-clocks-button:hover,
.world-clocks-button:focus
{
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,.3);
    background-gradient-end: rgba(255,255,255,.1);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
    border-radius: 0;
    color: white;
    text-shadow: 1px 1px 2px black;
    border-color: transparent;
}

.datemenu-today-button:active,
.world-clocks-button:active
{
    background-gradient-direction: vertical;
    background-gradient-start: rgba(243,115,32,.8);
    background-gradient-end: rgba(221,72,20,.8);
    border-radius: 0px;
    border-color: transparent;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.datemenu-today-button .date-label
{
  spacing: 0.5em;
  font-size: 16pt;
  font-family: Raleway;
  font-weight: normal;
  color: white;
}

.world-clocks-header
{
  spacing: 0.5em;
  font-size: 16pt;
  font-family: Raleway;
  font-weight: normal;
  color: white;
  margin: .5em 0;
}

.world-clocks-grid
{
  spacing-rows: .5em;
}

.pager-button
{
    color: white;
    background-color: transparent;
    width: 18px;
    height: 12px;
    border-radius: 0;
}

.pager-button:hover,
.pager-button:focus
{
    background-color: transparent;
}

.pager-button:active
{
    background-color: transparent;
}
