
/* Check Boxes */

.check-box StBoxLayout {
    spacing: 1.5em;
}

.check-box StBin {
    width: 2em;
    height: 2em;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,.05);
    background-gradient-end: rgba(255,255,255,.25);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.check-box:focus StBin,
.check-box:hover StBin {
    background-gradient-start: rgba(255,255,255,.25);
    background-gradient-end: rgba(255,255,255,.45);
}

.check-box:checked StBin,
.check-box:focus:checked StBin {
    width: 2em;
    height: 2em;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(53,177,239,.8);
    background-gradient-end: rgba(23,147,209,.8);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
