
/* Check Boxes */

.check-box StBoxLayout
{
  spacing: 1.5em;
}

.check-box StBin
{
  width: 2em;
  height: 2em;

  color: white;
  border-radius: 2px;
  background-image: none;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
}

.check-box:focus StBin,
.check-box:hover StBin
{
  background-image: none;

  background-gradient-start: rgba(255,255,255,.45);
  background-gradient-end: rgba(255,255,255,.3);
}

.check-box:checked StBin,
.check-box:focus:checked StBin
{
  width: 2em;
  height: 2em;

  color: white;
  border-radius: 2px;
  background-image: none;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}
