
/* Dash */

#dash {
    color: #5f5f5f;
    font-size: 9pt;
    padding: 1em 0;
    background-color: rgba(0,0,0,0.9);
    border: 1px solid rgba(174,167,159,0.4);
    border-left: 0px;
    border-radius: 0px 2px 2px 0px;
}

#dash:rtl {
    border: 1px solid rgba(174,167,159,0.4);
    border-right: 0px;
    border-radius: 2px 0px 0px 2px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.placeholder {
    background-image: url("../images/dash-placeholder.svg");
    background-size: contain;
    height: 24px;
}

.empty-dash-drop-target {
    width: 24px;
    height: 24px;
}

/* Search Results */

#searchResults {
    padding: 2em 1em 0px 1em;
    spacing: 2em;
}

#searchResultsBin {
    max-width: 100em;
}

#searchResultsContent {
    padding-right: 2em;
    spacing: 2em;
}

.search-section {
    /* This should be equal to #searchResultsContent spacing */
    spacing: 2em;
}

.search-section-separator {
    -gradient-height: 1px;
    -gradient-start: rgba(255,255,255,0);
    -gradient-end: rgba(255,255,255,0.5);
    -margin-horizontal: 1.5em;
    height: 1px;
}

.search-section-content {
    /* This is the space between the provider icon and the results container */
    spacing: 2em;
}

.search-statustext {
    color: #efefef;
    font-size: 2em;
    font-weight: bold;
}

.list-search-results {
    spacing: 3px;
}

.dash-label {
    font-size: 12pt;
    font-weight: bold;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.9);
    border: 1px solid rgba(174,167,159,0.4);
    padding: 4px 8px;
    -x-offset: 12px;
}

.dash-item-container > StButton {
    padding: 4px 8px;
}
