.controls > StButton
{
	width: 3em;
	height: 2em;
}

.track-infos
{
	font-size: 9pt;

	color: white;
}

.track-title
{
	font-family: Raleway, Open Sans;

	color: white;
}

.slider-item
{
	font-size: 9pt;
}

.slider-item StLabel
{
	padding-left: .5em;
}
