
/* On-screen Keyboard */

#keyboard {
    background-gradient-start: rgba(0,0,0,0.9);
    background-gradient-end: rgba(0,0,0,0.7);
    background-gradient-direction: vertical;
    border: 1px solid rgba(174,167,159,0.6);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 5px;
}

.keyboard-key {
    min-height: 32px;
    min-width: 32px;
    color: rgba(255,255,255,0.6);
    caret-color: rgba(255,255,255,0.6);
    font-weight: bold;
    font-size: 14pt;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.15);
    background-gradient-end: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    min-width: 20em;
    padding: .25em .5em;
}

.keyboard-key:grayed {
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(243,115,32,.8);
    background-gradient-end: rgba(221,72,20,.8);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.keyboard-key:active {
    font-size: 14pt;
}

.keyboard-subkeys {
    color: white;
    padding: 5px;
    -arrow-border-radius: 10px;
    -arrow-background-color: #090909;
    -arrow-border-width: 2px;
    -arrow-border-color: white;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}
