
.legacy-tray
{
  border: 1px solid rgba(174,167,159,.4);
  border-bottom-width: 0;
  background-color: rgba(0,0,0,.1);
}

.legacy-tray:ltr
{
  border-left-width: 0;
  border-radius: 0 2px 2px 0;
}

.legacy-tray:rtl
{
  border-right-width: 0;
  border-radius: 2px 0 0 2px;
}

.legacy-tray-handle StIcon
{
  icon-size: 32px;
}

.legacy-tray-icon
{
  padding: 6px;
}

.legacy-tray-icon-box
{
  padding: .5em;

  spacing: 1em;
}

.legacy-tray-icon-box StButton
{
  width: 64px;
  height: 64px;
}

.legacy-tray-icon-box StButton:focus,
.legacy-tray-icon-box StButton:hover
{
  transition-duration: 250ms;

  color: white;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.15);
  text-shadow: 1px 1px 2px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.1);
}
