
.headline
{
  font-size: 110%;
}


.lightbox
{
  background-color: black;
}


.flashspot
{
  background-color: white;
}

.modal-dialog {
    font-size: 9pt;
    border-radius: 2px;
    border: 1px solid rgba(174,167,159,0.5);
    background: rgba(0,0,0,0.8);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    color: #fff;
    padding: 2em;
}

.modal-dialog StEntry {
    caret-color: rgba(51,51,51,0.7);
    font-size: 12pt;
    caret-size: 1px;
    selected-color: black;
    padding: .25em .5em;
    font-weight: bold;
    color: rgb(51,51,51);
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.65);
    background-gradient-end: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}

.modal-dialog StEntry:focus {
    border: 1px solid #3465a4;
}

.modal-dialog StEntry:insensitive {
    color: rgba(0,0,0,0.7);
    border: 1px solid rgba(255,255,255,0.6);
}

.modal-dialog-button-box {
    spacing: 1em;
    padding-top: .5em;
}

.modal-dialog-button {
    font-size: 12pt;
    font-weight: normal;
    color: rgba(0,0,0,0.8);
    border-radius: 2px;
    border: 1px solid transparent;
    padding: .5em 1em;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.8);
    background-gradient-end: rgba(255,255,255,0.5);
}

.modal-dialog-button:hover,
.modal-dialog-button:focus {
    font-size: 12pt;
    font-weight: normal;
    color: rgba(0,0,0,0.8);
    border-radius: 2px;
    border: 1px solid transparent;
    padding: .5em 1em;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.5);
    background-gradient-end: rgba(255,255,255,0.8);
}

.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.5);
    background-gradient-end: rgba(255,255,255,0.8);
    box-shadow: inset 0px 0px 1px 1px black;
    border: 1px solid black;
    color: rgba(0,0,0,0.9);
}

.modal-dialog-button:insensitive {
    font-size: 12pt;
    color: rgba(0,0,0,0.8);
    border: 1px solid transparent;
    border-radius: 2px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.9);
    background-gradient-end: rgba(255,255,255,0.6);
}

.modal-dialog .prompt-dialog-password-entry {
    color: rgba(255,255,255,0.6);
    caret-color: rgba(255,255,255,0.6);
    caret-size: 1px;
    selected-color: white;
    font-weight: normal;
    font-size: 18pt;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.15);
    background-gradient-end: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    min-width: 20em;
    padding: .25em .5em;
}
