
.nm-dialog
{
  font-size: 12pt;
  font-weight: normal;

  min-width: 40em;
  min-height: 20em;
  max-height: 40em;
  padding: 0;

  color: #fff;
  border: 1px solid rgba(174,167,159,.5);
  border-radius: 2px;
  background: rgba(0,0,0,.9);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.9);
}

.nm-dialog-content
{
  padding: 2em;

  spacing: 0;
}

.nm-dialog-header-hbox,
.nm-dialog-airplane-box
{
  padding-bottom: 2em;

  spacing: 1em;
}

.nm-dialog-header,
.nm-dialog-airplane-headline
{
  font-family: Raleway;
  font-size: 18pt;
  font-weight: normal;

  padding: .25em 0;

  text-align: center;
}

.nm-dialog-airplane-headline
{
  font-weight: normal;
}

.nm-dialog-airplane-text
{
  font-size: 12pt;

  color: white;
}

.nm-dialog-header-icon
{
  icon-size: 5em;
}

.nm-dialog-scroll-view
{
  padding: 2em 0;

  border: 1px solid rgba(174,167,159,.5);
  border-radius: 2px;
  background: rgba(0,0,0,.9);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.9);
}

.nm-dialog-item
{
  font-size: 10pt;

  margin-left: 2.5em;
  padding: .5em;

  color: white;
  border: 0;

  spacing: .25em;
}

.nm-dialog-item:hover,
.nm-dialog-item:focus,
.nm-dialog-item:active,
.nm-dialog-item:selected
{
  color: white;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}

.nm-dialog-item-box,
.nm-dialog-icons
{
  spacing: 0;
}

.nm-dialog-icon
{
  font-size: 10pt;

  padding-left: .5em;

  color: white;

  icon-size: 1.3em;
}

.no-networks-label
{
  color: white;
}

.no-networks-box
{
  spacing: 1em;
}
