
/* Network Agent Dialog */

.network-dialog-secret-table {
    spacing-rows: 15px;
    spacing-columns: 1em;
    border: 1px solid red;
}

.keyring-dialog-control-table {
    spacing-rows: 15px;
    spacing-columns: 1em;
}

.network-dialog-show-password-checkbox {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 9pt;
    color: white;
    spacing: 10px;
}
