
.notification-close
{
    background-image: url("../images/close.png");
    background-size: 16px;
    height: 24px;
    width: 24px;
    -shell-close-overlap-x: 0px;
    -shell-close-overlap-y: 0px;
}

.notification-close:rtl
{
-shell-close-overlap-x: -14px;
}

.notification,
.notification-banner
{
}

.notification-banner:hover,
.notification-banner:focus
{
	background: rgba(0,0,0,1.0);
}

.notification-banner .notification-icon
{
	padding: 5px;
}

.notification-banner .notification-content
{
	padding: 5px;
	spacing: 5px;
}

.notification-banner .secondary-icon
{
  icon-size: 1.09em;
}

.notification-banner .notification-actions
{
	background-color: #1c1f1f;
	padding-top: 2px;
	spacing: 1px;
}

.notification-banner .notification-button
{
	padding: 4px 4px 5px;
	background-color: #222728;
}

.notification-banner .notification-button:first-child
{
border-radius: 0 0 0 6px;
}

.notification-banner .notification-button:last-child
{
border-radius: 0 0 6px 0;
}

.notification-banner .notification-button:hover,
.notification-banner .notification-button:focus
{
background-color: #292f30;
}

.notification-unexpanded
{
	min-height: 48px;
	height: 48px;
}

.notification-with-image
{
	min-height: 159px;
}

.notification-body
{
	spacing: 0em;
}


.notification-actions
{
	spacing: 1em;
	padding: 0;
}

.summary-source-counter
{
	font-size: 10pt;
	font-weight: bold;
	height: 1.6em;
	width: 1.6em;
	-shell-counter-overlap-x: 3px;
	-shell-counter-overlap-y: 3px;
	background-color: #215d9c;
	color: #ffffff;
	border: 2px solid #eeeeec;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: 0.9em;
}

.notification-scrollview
{
	max-height: 18em;
	-st-vfade-offset: 24px;
}

.notification-scrollview:ltr > StScrollBar
{
	padding-left: 6px;
}

.notification-scrollview:rtl > StScrollBar
{
	padding-right: 6px;
}

.notification-button,
.notification-icon-button
{
	height: 24px;
	color: white;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.3);
	background-gradient-end: rgba(255,255,255,0.15);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.1);
	border-radius: 2px;
	border: 0px solid transparent;
	transition-duration: 200ms;
}

.notification-button:hover,
.notification-button:focus,
.notification-icon-button:focus,
.notification-icon-button:hover
{
	color: white;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.4);
	background-gradient-end: rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 0;
	transition-duration: 200ms;
}

.notification-button:insensitive,
.notification-icon-button:insensitive {
	color: grey;
}

.notification-button:active,
.notification-button:pressed,
.notification-icon-button:active,
.notification-icon-button:pressed
{
	background-gradient-direction: vertical;
	background-gradient-start: rgba(243,115,32,.8);
	background-gradient-end: rgba(221,72,20,.8);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
	border-radius: 2px;
	color: white;
	text-shadow: 1px 1px 2px black;
	transition-duration: 200ms;
}

.notification-icon-button > StIcon
{
	width: 16px;
	height: 16px;
	icon-size: 1.3em;
	padding: .5em 1em;
	spacing: 1em;
}

/* Message list */
.message-list
{
  width: 35em;
}

.message-list-sections
{
  spacing: 1.5em;
  margin: 0 1.5em;
}

.message-list-section,
.message-list-section-list
{
  spacing: 0.5em;
}

.message-list-section-list:ltr
{
  padding-left: .5em;
}

.message-list-section-list:rtl
{
  padding-right: .5em;
}

.message-list-section-title,
.message-list-section-title-box
{
  spacing: 0.5em;
  font-size: 16pt;
  font-family: Raleway;
  font-weight: normal;
  color: white;
}

.message-list-section-title:hover,
.message-list-section-title:focus
{
	text-decoration: underline;
	border-radius: 0;
	background: transparent;
}

.message-list-section-close > StIcon
{
	icon-size: 24px;
  background: transparent;
  border-radius: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
  border-color: transparent;
  transition-duration: 100ms;
}

.message-list-section-close:hover > StIcon,
.message-list-section-close:focus > StIcon
{
  icon-size: 24px;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.1);
  box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
  border-radius: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
  border-color: transparent;
  transition-duration: 100ms;
}

.message-list-section-close:active > StIcon
{
  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
  border-radius: 0;
  border-color: transparent;
  color: white;
  text-shadow: 1px 1px 2px black;
  transition-duration: 100ms;
}

.message
{
  color: white;
  font-size: 12pt;
  padding: .5em;
  background-color: rgba(0,0,0,0.9);
  border: 1px solid rgba(174,167,159,0.4);
  border-radius: 2px 2px 2px 2px;
}

.message:hover,
.message:focus
{
  background-color: rgba(0,0,0,1.0);
}

.message-icon-bin,
.message-icon-bin:rtl
{
  padding: 1em;
}

.message-icon-bin > StIcon
{
  icon-size: 48px;
}


.message-secondary-bin
{
  color: white;
  font-size: 10pt;
}

.message-secondary-bin > StIcon
{
  icon-size: 16px;
}

.message-title
{
	font-size: 12pt;
  font-weight: bold;
  padding-bottom: .5em;
}

.message-content
{
  padding: 1em;
}
