
/* Overview */

#overview
{
  spacing: 12px;
  background-gradient-direction: radial;
  background-gradient-start: rgba(0,0,0,.3);
  background-gradient-end: rgba(0,0,0,.9);
}

.overview-controls
{
  padding-bottom: 0;
}

.search-entry .search-entry-icon
{
  color: rgba(255,255,255,.9);

  icon-size: 1.5em;
}

.search-entry:hover .search-entry-icon,
.search-entry:focus .search-entry-icon
{
  color: white;
}

/* Search Results */

#searchResultsBin
{
  max-width: 100em;
  margin: 0 1em 0 1em;
}

#searchResultsContent
{
  padding-right: 1em;

  spacing: 2em;
}

.search-section
{
  /* This should be equal to #searchResultsContent spacing */
  spacing: 2em;
}

.search-section-content
{
  spacing: 2em;
}


.search-section-separator
{
  height: 1px;

  -gradient-height: 1px;
  -gradient-start: rgba(255,255,255,0);
  -gradient-end: rgba(255,255,255,.5);
  -margin-horizontal: 1.5em;
}

.search-statustext,
.no-frequent-applications-label
{
  font-size: 2em;
  font-weight: bold;

  color: #eeeeec;
}

.ripple-box,
.ripple-box:rtl
{
  background-image: none;
}

.workspace-thumbnails
{
  padding: 1em;

  border: 1px solid rgba(174, 167, 159, .5);
  border-right: 0;
  border-radius: 2px 0 0 2px;
  background: rgba(0,0,0,.9);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.7);

  spacing: 1em;
  visible-width: 2em; /* Amount visible before hovering */
}

.workspace-thumbnails:rtl
{
  border-right: 1px;
  border-left: 0;
  border-radius: 0 2px 2px 0;
}

.workspace-thumbnail-indicator
{
  padding: 2px;

  border: 1px solid rgba(174, 167, 159, .5);
  border-radius: 2px;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.15);
  background-gradient-end: rgba(255,255,255,.3);
}

.window-caption
{
  font-size: 12pt;
  font-weight: normal;

  padding: .5em 1em;

  transition-duration: 100ms;

  color: white;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
  -shell-caption-spacing: .5em;
}

.window-caption:focus,
.window-caption:hover
{
  transition-duration: 200ms;

  color: white;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}

.window-close
{
  width: 32px;
  height: 32px;

  color: white;
  border-radius: 0;
  background-color: rgba(221,72,20,.9);
  background-image: url('../images/close.png');
  background-size: 16px;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  -shell-close-overlap: 16px;
}

.window-close:rtl
{
  -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,.5);
}

.window-clone-border
{
  font-size: 12pt;
  font-weight: normal;

  color: white;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
}

.window-picker
{
  padding-right: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 2.5em;

  -horizontal-spacing: 5em;
  -vertical-spacing: 5em;
}

.window-picker.external-monitor
{
  padding: 32px;
}

/* Application Launchers, Grid and List results */

.icon-grid
{
  spacing: 1em;
  -shell-grid-horizontal-item-size: 128px;
  -shell-grid-vertical-item-size: 128px;
}

.icon-grid .overview-icon
{
  icon-size: 64px;
}

.app-display
{
  padding: 1em;

  spacing: 1em;
}

.app-view-controls
{
  width: 30em;
  padding: 0;
}

.app-view-control
{
  font-weight: normal;

  margin: .25em;
  padding: .5em 1em;

  color: white;
  border-color: transparent;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
}

.app-view-control:first-child:ltr,
.app-view-control:last-child:rtl
{
  border-right-width: 0;
  border-radius: 0;
}

.app-view-control:first-child:rtl,
.app-view-control:last-child:ltr
{
  border-left-width: 0;
  border-radius: 0;
}

.app-view-control:hover,
.app-view-control:focus
{
  text-shadow: 0 1px white;
}

.app-view-control:active,
.app-view-control:checked
{
  font-weight: normal;

  color: white;
  border-color: transparent;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}

.search-display > StBoxLayout,
.all-apps,
.frequent-apps > StBoxLayout
{
  /* horizontal padding to make sure scrollbars or dash don't overlap content */
  padding: 0;
}

.page-indicator
{
  padding: 1em;
}

.page-indicator .page-indicator-icon
{
  width: 2em;
  height: 2em;

  color: white;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
}

.page-indicator:hover .page-indicator-icon
{
  background-gradient-start: rgba(255,255,255,.45);
  background-gradient-end: rgba(255,255,255,.3);
}

.page-indicator:checked .page-indicator-icon
{
  width: 2em;
  height: 2em;

  color: white;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}

.no-frequent-applications-label
{
  font-size: 18pt;

  color: #999;
}

.app-folder-icon
{
  padding: 5px;

  spacing-rows: 5px;
  spacing-columns: 5px;
}

.list-search-result-content
{
  padding: .5em;

  spacing: .5em;
}

.list-search-result-title
{
  font-family: Raleway;
  font-weight: normal;

  padding-bottom: .25em;

  color: white;
}

.list-search-result-description
{
  font-size: 12pt;
  font-weight: normal;

  color: rgba(255,255,255,.75);
}

.search-provider-icon-more
{
  width: 0;
  height: 0;
}

.search-provider-icon:focus,
.search-provider-icon:selected,
.search-provider-icon:hover,
.list-search-result:focus,
.list-search-result:selected,
.list-search-result:hover
{
  transition-duration: 200ms;

  color: white;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
}

.search-provider-icon:active,
.search-provider-icon:checked,
.list-search-result:active,
.list-search-result:checked
{
  transition-duration: 100ms;

  color: white;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}

.app-well-app > .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label
{
  /* since the label controls its own spacing, it is visually more
  consistent to use different padding values for top and bottom */
  padding: .75em .5em .25em .5em;

  spacing: 4px;
}

.app-well-app > .overview-icon,
.show-apps > .overview-icon,
.search-provider-icon,
.list-search-result,
.grid-search-result .overview-icon
{
  font-size: 12pt;
  font-weight: normal;

  padding: 2px;

  text-align: center;

  border-radius: 0;
}

.search-provider-icon
{
  padding: 1em;
}

.app-folder-popup
{
  -arrow-border-radius: 0;
  -arrow-background-color: rgba(255,255,255,.1);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(255,255,255,.3);
  -arrow-base: 20px;
  -arrow-rise: 10px;
}

.app-folder-popup-bin
{
  padding: 0;
}

.app-well-app.app-folder > .overview-icon
{
  color: white;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.15);
  text-shadow: 1px 1px 2px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.1);
}

.app-display .app-well-app > .overview-icon
{
  border-radius: 0;
}

.list-search-result:hover .list-search-result-description
{
  text-shadow: rgba(0,0,0,.8) 0 1px 2px;
}

.app-well-app:active .overview-icon,
.app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon
{
  transition-duration: 250ms;

  color: white;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}

.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon,
.app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon
{
  transition-duration: 250ms;

  color: white;
  border-radius: 0;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
}

.app-well-app-running-dot
{
  width: 3em;
  height: .25em;

  transition-duration: 100ms;

  color: white;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}

.search-provider-icon,
.list-search-result,
.app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.show-apps .overview-icon,
.grid-search-result .overview-icon
{
  padding: .5em;

  transition-duration: 100ms;
  text-align: center;

  color: white;
  border: 1px solid transparent;
  border-radius: 0;
}

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon
{
  transition-duration: 250ms;

  color: white;
}
