
/* Panel */

#panel,
#panel.lock-screen,
#panel.unlock-screen,
#panel.login-screen {
    border: 0px solid rgba(174,167,159,0.4);
    color: rgba(0,0,0,0.0);
    background-color: rgba(0,0,0,0.8);
    height: 2em;
    font-size: 12pt;
    font-weight: normal;
    box-shadow: inset 0 -1px rgba(174,167,159,0.4);
}

#panel.unlock-screen,
#panel.login-screen {
    background-color: transparent;
}

#panelLeft,
#panelCenter {
    spacing: 1em;
}

#panelLeft:rtl,
#panelRight:ltr {
    padding-left: 4px;
}

#panelLeft:ltr,
#panelRight:rtl {
    padding-right: 4px;
}

#panel .panel-corner,
#panel .panel-corner:active,
#panel .panel-corner:overview,
#panel .panel-corner:focus,
#panel .panel-corner.lock-screen,
#panel .panel-corner.unlock-screen,
#panel .panel-corner.login-screen {
    -panel-corner-background-color: transparent;
    -panel-corner-border-color: transparent;
}

#appMenu {
    spinner-image: url("../images/process-working.svg");
    spacing: 0;
    padding: 0 1em;
}

/* used for the app menu header only */
#appMenu  .label-shadow {
    color: rgba(0,0,0,0.3);
}

#panel .panel-button #appMenuIcon,
#panel .panel-button:active #appMenuIcon,
#panel .panel-button:checked #appMenuIcon,
#panel .panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

#panel .app-menu-icon {
    width: 24px;
    height: 24px;
}

#panel .panel-button .app-menu-icon
{
      -st-icon-style: symbolic;
      margin-left: 4px;
      margin-right: 4px;
}

#panel .panel-button,
.unlock-screen #panel .panel-button,
.login-screen #panel .panel-button,
.lock-screen #panel .panel-button {
    -natural-hpadding: 1em;
    -minimum-hpadding: 1em;
    color: rgba(255,255,255,0.8);
    font-size: 9pt;
    font-weight: bold;
}

.unlock-screen #panel .panel-button:focus,
.unlock-screen #panel .panel-button:hover,
.unlock-screen #panel .panel-button:active,
.login-screen #panel .panel-button:focus,
.login-screen #panel .panel-button:hover,
.login-screen #panel .panel-button:active,
.lock-screen #panel .panel-button:focus,
.lock-screen #panel .panel-button:hover,
.lock-screen #panel .panel-button:active
{
    color: white;
}

#panel .panel-button:hover,
#panel .panel-status-button:active,
#panel .panel-status-button:checked,
#panel .panel-status-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.3);
    background-gradient-end: rgba(255,255,255,0.15);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.1);
}

#panel .panel-button:active,
#panel .panel-button:overview,
#panel .panel-button:focus,
#panel .panel-button:checked {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.4);
    background-gradient-end: rgba(255,255,255,0.2);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
    color: white;
}

#panel .panel-button .system-status-icon
{
      icon-size: 1.09em;
      padding: 0 5px;
}

#panel .panel-button:active > .system-status-icon,
#panel .panel-button:overview > .system-status-icon,
#panel .panel-button:focus > .system-status-icon,
#panel .panel-button:checked > .system-status-icon
{
    icon-shadow: black 0px 0px 3px;
}

.popup-menu.panel-menu {
    -boxpointer-gap: 1px;
}

#panel .panel-status-indicators-box,
#panel .panel-status-menu-box
{
    spacing: 1em;
}

#panel .screencast-indicator
{
    color: #f57900;
}

.system-status-icon {
    icon-size: 1.5em;
    padding: 0;
}

.aggregate-menu {
    width: 25em;
}

.aggregate-menu .popup-menu-icon,
.system-switch-user-submenu-icon {
    icon-size: 1.5em;
    padding: 0;
    padding-right: 1em;
    border: 0;
}

.system-menu-action {
    background: transparent;
    color: white;
    border: 0;
    padding: 1em;
    transition-duration: 200ms;
}

.system-menu-action:hover,
.system-menu-action:focus,
.system-menu-action:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(243,115,32,.8);
    background-gradient-end: rgba(221,72,20,.8);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    color: white;
    padding: 1em;
    text-shadow: 1px 1px 2px black;
    transition-duration: 200ms;
}

.system-menu-action > StIcon {
    icon-size: 1.5em;
}

.screencast-indicator {
    color: red;
}

/* PopupMenu */

.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-border-radius: 2px;
    -arrow-background-color: rgba(0,0,0,0.9);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(174,167,159,0.4);
    -arrow-base: 2em;
    -arrow-rise: 1em;
  /*-arrow-box-shadow: 0 1px 3px black;*/
}

.popup-menu {
    min-width: 5em;
}

.popup-menu-ornament {
    text-align: right;
    width: 0;
    margin-left: 0;
}

.popup-menu-arrow {
    width: 1.5em;
    height: 1.5em;
}

.popup-menu .popup-sub-menu
{
    background-gradient-direction: vertical;
    background-gradient-start: rgba(174,167,159,0.1);
    background-gradient-end: rgba(174,167,159,0.1);
    box-shadow: inset 0px -1px 1px 0px rgba(174,167,159,0.3);
    color: white;
    text-shadow: 2px 2px solid black;
    padding: 0;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu .popup-menu-content {
    padding: 1em 0em;
}

.popup-menu .popup-menu-item {
    spacing: 1em;
}

.popup-menu .popup-menu-item:ltr {
    padding: .5em 2em .5em 1em;
}

.popup-menu .popup-menu-item:rtl {
    padding: .5em 1em .5em 2em;
}

.popup-menu .popup-menu-item:focus,
.popup-menu .popup-menu-item:hover
{
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.4);
    background-gradient-end: rgba(255,255,255,0.2);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
    font-weight: normal;
}

.popup-menu .popup-menu-item:checked,
.popup-menu .popup-menu-item:active
{
    background-gradient-direction: vertical;
    background-gradient-start: rgba(243,115,32,.8);
    background-gradient-end: rgba(221,72,20,.8);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: normal;
}

.popup-menu .popup-menu-item:insensitive {
    color: grey;
}

.popup-menu .popup-inactive-menu-item
{
    color: white;
}

.popup-menu .popup-inactive-menu-item:insensitive
{
    color: rgba(238, 238, 236, 0.5);
}
.popup-menu .active
{
    background-color: transparent;
}

.popup-menu .popup-separator-menu-item {
    border-bottom: 1px solid white;
    height: 1px;
    margin: 1px 0;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-status-menu-item {
    font-weight: normal;
    color: white;
}

.popup-menu-icon {
    icon-size: 1.3em;
}

.popup-menu-item-expander
{
}

/* Slider */

.slider {
    height: 1em;
    min-width: 5em;
    color: white;
    -slider-height: .3em;
    -slider-background-color: rgba(255,255,255,0.6);
    -slider-border-color: rgba(44,0,30,.4);
    -slider-border-width: 1px;
    -slider-handle-radius: .5em;
    -slider-active-background-color: rgb(221,72,20);
    -slider-active-border-color: rgba(44,0,30,.4);
}
