
/* Password or Authentication Dialog */

.prompt-dialog {
    min-width: 25em;
    max-width: 60em;
    border-radius: 2px;
    border: 1px solid rgba(174,167,159,0.4);
    background-color: rgba(0,0,0,0.9);
    padding: 2em;
}

.prompt-dialog-main-layout {
    spacing: 1em;
    padding: 0;
}

.prompt-dialog-message-layout {
    spacing: 1.5em;
    padding-left: 1em;
}

.prompt-dialog-headline {
    font-size: 22pt;
    font-family: Raleway;
    font-weight: bold;
    color: white;
}

.prompt-dialog-description {
    font-size: 9pt;
    font-weight: normal;
}

.prompt-dialog-description:rtl {
    text-align: right;
}

.prompt-dialog-password-box {
    spacing: 1em;
    font-size: 9pt;
    font-weight: normal;
}

.prompt-dialog-error-label {
    font-size: 9pt;
    font-weight: bold;
    color: red;
    padding-bottom: 20px;
}

.prompt-dialog-info-label {
    font-size: 9pt;
    padding-bottom: 80px;
}

.hidden {
    color: transparent;
}

.prompt-dialog-null-label {
    font-size: 9pt;
    padding-bottom: 0px;
}

.prompt-dialog-password-entry .capslock-warning {
    icon-size: 1.3em;
    warning-color: red;
    padding: 0 4px;
}
