
.polkit-dialog-user-layout,
.polkit-dialog-user-layout:rtl
{
	font-family: Raleway;
	font-size: 16pt;

	padding: 0;

	color: white;

	spacing: 1em;
}

.polkit-dialog-user-root-label
{
	color: #f00;
}
