/* Polkit Dialog */

.polkit-dialog-user-layout,
.polkit-dialog-user-layout:rtl {
    spacing: 1em;
    color: white;
    font-family: Raleway;
    font-size: 16pt;
}

.polkit-dialog-user-root-label {
    color: #ff0000;
}

.polkit-dialog-user-icon {
}

.polkit-dialog-password-entry {
}
