/* Polkit Dialog */

.polkit-dialog-user-layout,
.polkit-dialog-user-layout:rtl {
    spacing: 1em;
    color: white;
    font-family: Raleway;
    font-size: 16pt;
    border: 1px solid red;
}

.polkit-dialog-user-root-label {
    color: #ff0000;
}

.polkit-dialog-user-icon {
	border: 1px solid red;
/*	border-radius: 5px;
  background-size: contain;
  width: 48px;
  height: 48px;*/
}

/*.polkit-dialog-password-entry {
}*/
