
/* Run Dialog */

.run-dialog {
    font-size: 12pt;
    font-weight: normal;
    border-radius: 2px;
    border: 1px solid rgba(174,167,159,0.5);
    background: rgba(0,0,0,0.8);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    color: #fff;
    padding: 2em;
}

.modal-dialog .run-dialog-entry
{
    color: rgba(255,255,255,0.6);
    caret-color: rgba(255,255,255,0.6);
    caret-size: 1px;
    selected-color: white;
    font-weight: normal;
    font-size: 18pt;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.15);
    background-gradient-end: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    min-width: 20em;
    padding: .25em .5em;
    margin-bottom: 0;
}

.modal-dialog .run-dialog-button-box
{
    padding-top: 1em;
}

.modal-dialog .run-dialog-label
{
    font-size: 12pt;
    font-weight: normal;
    color: white;
    padding-bottom: .5em;
}

.modal-dialog .run-dialog-error-box
{
    padding-top: 1.5em;
    spacing: .5em;
    color: red;
}

.modal-dialog .run-dialog-error-label {
    font-size: 11pt;
    font-weight: bold;
    color: red;
}

