
/* Run Dialog */

.run-dialog
{
  font-size: 12pt;
  font-weight: normal;

  padding: 0;

  color: #fff;
  border: 1px solid rgba(174, 167, 159, .5);
  border-radius: 2px;
  background: rgba(0,0,0,.9);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.9);
}

.modal-dialog .run-dialog-entry
{
  font-size: 14pt;
  font-weight: normal;

  width: 20em;
  margin-bottom: 0;
  padding: .25em .5em;

  color: rgba(255,255,255,.7);
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);

  caret-color: rgba(255,255,255,.7);
  caret-size: 1px;
  selected-color: white;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.15);
  background-gradient-end: rgba(255,255,255,.3);
}

.modal-dialog .run-dialog-button-box
{
  padding-top: 1em;
}

.modal-dialog .run-dialog-label
{
  font-size: 11pt;
  font-weight: normal;

  padding-bottom: .25em;

  color: white;
}

.modal-dialog .run-dialog-error-box
{
  padding: .25em;

  color: red;

  spacing: .25em;
}

.modal-dialog .run-dialog-error-label
{
  font-size: 11pt;
  font-weight: bold;

  color: red;
}
