
/* Scroll Bars */

StScrollBar
{
  padding: 1em;
}

StScrollView.vfade
{
  -st-vfade-offset: 8em;
}

StScrollView.hfade
{
  -st-hfade-offset: 8em;
}

StScrollView StScrollBar
{
  min-width: 1em;
  min-height: 2.5em;
}

StScrollBar StBin#trough
{
  background-color: transparent;
}

StScrollBar StButton#vhandle
{
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
}

StScrollBar StButton#vhandle:focus,
StScrollBar StButton#vhandle:hover,
StScrollBar StButton#vhandle:active
{
  color: white;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.45);
  background-gradient-end: rgba(255,255,255,.3);
}

StScrollBar StButton#vhandle:active
{
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}

StScrollBar StButton#hhandle
{
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: horizontal;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.15);
}

StScrollBar StButton#hhandle:focus,
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#hhandle:active
{
  color: white;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
  text-shadow: 0 1px black;

  background-gradient-direction: horizontal;
  background-gradient-start: rgba(255,255,255,.45);
  background-gradient-end: rgba(255,255,255,.3);
}

StScrollBar StButton#hhandle:active
{
  background-gradient-start: rgba(243,115,32,.8);
  background-gradient-end: rgba(221,72,20,.8);
}
