/* Tile previews */

.tile-preview,
.tile-preview-left.tile-preview-right.on-primary {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(53,177,239,.3);
    background-gradient-end: rgba(23,147,209,.3);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    border-color: transparent;
    border-width: 0;
}


.tile-preview-left.on-primary {
    border: 1px solid rgba(255,255,255,0.0);
    background-gradient-direction: horizontal;
    background-gradient-end: rgba(53,177,239,.3);
    background-gradient-start: rgba(23,147,209,.3);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    border-width: 0;
}

.tile-preview-right.on-primary {
    border: 1px solid rgba(255,255,255,0.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(53,177,239,.3);
    background-gradient-end: rgba(23,147,209,.3);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    border-width: 0;
}
