
/* Workspace Switcher */
.workspace-switcher-group {
}

.workspace-switcher-container {
    border: 1px solid rgba(174,167,159,0.4);
    background: rgba(0,0,0,0.8);
    border-radius: 2px;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
    padding: 1.5em;
}

.workspace-switcher {
    background: transparent;
    border: 0;
    border-radius: 0px;
    padding: 0px;
    spacing: 1em;
}

.ws-switcher-active-up,
.ws-switcher-active-down {
    height: 4em;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(243,115,32,.8);
    background-gradient-end: rgba(221,72,20,.8);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.ws-switcher-box {
    height: 4em;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,.05);
    background-gradient-end: rgba(255,255,255,.15);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    border: 1px solid transparent;
}
