// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

$viva_color_base: lighten(#111111, 2%);
$bg_color:  darken(#222222, 4%);
$fg_color: #f5f5f5;

$viva_color_fg_selected: #fff;
$viva_color_bg_selected: darken(#ff4500, 10%);
$selected_borders_color: darken($viva_color_bg_selected, 30%);
$borders_color: darken($bg_color, 8%);
$borders_edge: transparentize($fg_color, 0.93);
$link_color: lighten($viva_color_bg_selected, 20%);
$link_visited_color: lighten($viva_color_bg_selected, 10%);
$top_hilight: $borders_edge;

$osd_fg_color: #eeeeec;
$osd_text_color: white;
$osd_bg_color: $bg_color;
$osd_viva_color_bg_insensitive: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_viva_color_fg_insensitive: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.3);
$osd_outer_borders_color: transparentize(white, 0.84);

$shadow_color: rgba(0,0,0,0.2);
$system_bg_color: desaturate(#241f31,100%); //neutralize the HIG color

//insensitive state derived colors
$viva_color_fg_insensitive: mix($fg_color, $bg_color, 50%);
$viva_color_bg_insensitive: mix($bg_color, $viva_color_base, 60%);
$insensitive_borders_color: mix($borders_color, $viva_color_base, 60%);

//colors for the backdrop state, derived from the main colors.
$backdrop_viva_color_base: lighten($viva_color_base,1%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: lighten($backdrop_bg_color,15%);
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);


$viva_color: if($variant =='orange', rgba(232,93,26,.7), rgba(38,162,224,.8));
$viva_color1: lighten($viva_color, 5%);
$viva_color2: darken($viva_color, 10%);

$viva_gradient_1: rgba(255,255,255,.15);
$viva_gradient_2: rgba(255,255,255,.3);
$viva_gradient_3: rgba(255,255,255,.45);

$viva_color_warning: #f57900;
$viva_color_error: #f30;
$viva_color_success: green;
$viva_color_destructive: #e01b24;

$viva_border_color: rgba(255,255,255,.15);
$viva_border_color_selected: rgba(255,255,255,.3);
$viva_border_color_insensitive: rgba(255,255,255,.05);

$viva_color_shadow: rgba(0,0,0,.9);
$viva_box_shadow: inset 0 0 1px 1px rgba(255,255,255,.1);
$viva_box_shadow_dark: inset 0 0 1px 1px $viva_color_shadow;
$viva_text_shadow: 1px 2px black;

$osd_viva_border_color: transparentize(black, 0.3);
$osd_outer_viva_border_color: transparentize(white, 0.84);

$transition-fast: 200ms;
$transition-slow: 400ms;

$viva_font_family: Source Sans Pro, Sans, Cantarell, Sans-Serif;
