@import url("gnome-shell.css");

/* FIXME:
	 - white edge highlight with text-shadow and icon-shadow for panel-button
	 - better shading of the panel (dark 5%) - impossible without multipoint gradients, image-bg is a hack
	 - bubble menus: separators
	 - submenus (network, ...)
	 - startup notification spinner
*/

#panel,
#panel:overview {
	border: 1px solid rgba(174,167,159,0.4);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	color: rgba(0,0,0,0.0);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,1.0);
	background-gradient-end: rgba(0,0,0,1.0);
	height: 32px;
	font-size: 10pt;
	font-weight: bold;
}

#panel.lock-screen {
	border: 1px solid rgba(174,167,159,0.5);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	color: rgba(0,0,0,0.0);
	background: black;
	height: 32px;
	font-size: 10pt;
	font-weight: bold;
}

#panel.unlock-screen {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.9);
	background-gradient-end: rgba(0,0,0,0.7);
}


/* TOP BAR */

.panel-corner,
.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
	-panel-corner-radius: 0 !important;
}

.panel-button {
}

#panel:overview .panel-button,
#panel.lock-screen .panel-button,
#panel.unlock-screen .panel-button {
	color: #e6e6e6 !important;
}

.panel-button:hover {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(243,115,32,.8);
	background-gradient-end: rgba(221,72,20,.8);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
	border-radius: 2px;
	color: white;
	text-shadow: 1px 1px 2px black;
}

#panel:overview .panel-button:hover,
#panel:overview .panel-button:active {
	color: white !important;
}

.panel-button:hover,
.panel-button:active,
.panel-button:overview,
.panel-button:focus {
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(243,115,32,.8);
	background-gradient-end: rgba(221,72,20,.8);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
	border-radius: 2px;
	color: white;
	text-shadow: 1px 1px 2px black;
}
