/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

@import url("./gnome-shell-original.css");

@import url("./styles/modal-dialog.css");
@import url("./styles/scrollbars.css"); /*done*/
@import url("./styles/checkboxes.css");
@import url("./styles/toggles.css");
@import url("./styles/network.css");
@import url("./styles/panel.css");
@import url("./styles/overview.css");
@import url("./styles/dash.css");
@import url("./styles/lookingglass.css");
@import url("./styles/calendar.css");
@import url("./styles/message-tray.css");
@import url("./styles/app-switcher.css"); /*done*/
@import url("./styles/ws-switcher.css"); /*done*/
@import url("./styles/end-session-dialog.css");
@import url("./styles/mount-dialog.css");
@import url("./styles/run-dialog.css"); /*done*/
@import url("./styles/password-dialog.css");
@import url("./styles/polkit-dialog.css");
@import url("./styles/network-dialog.css");
@import url("./styles/magnifier.css");
@import url("./styles/keyboard.css");
@import url("./styles/ibus-candidate.css");
@import url("./styles/login-dialog.css");
@import url("./styles/screenshield.css");
/* Text Styles */

/* default text style */
stage {
    font-family: Open Sans, cantarell, sans-serif;
    font-size: 9pt;
    color: white;
}

/* links */
.shell-link {
    color: #0000ff;
    text-decoration: underline;
}

.shell-link:hover {
    color: #0000e0;
}

/* small */
.app-well-menu {
    font-size: 9pt;
}

/* small bold */
.dash-label,
.app-well-app > .overview-icon,
.show-apps > .overview-icon,
.grid-search-result .overview-icon {
    font-size: 9pt;
    font-weight: bold;
}

.input-source-switcher-symbol {
   font-size: 34pt;
   width: 96px;
   height: 96px;
}

/* Background menu */

.background-menu {
    -boxpointer-gap: 0px;
}
