/* Select Network dialogs */
.nm-dialog {
  font-weight: normal;
  color: $fg_color;
  padding: $base_spacing * 0;
  spacing: $base_spacing * 0;
}

.nm-dialog-content {
  // font-size: $font-size-small;
  padding: $base_spacing * 3;
  spacing: $base_spacing;
}

.nm-dialog-header {
  font-family: $viva_font_family;
  font-size: 18pt;
  font-weight: normal;
  max-width: 500em;
  color: $fg_color;
  padding: 0;
  padding-bottom: $base_spacing;
}

.nm-dialog-subheader {
  color: $insensitive_fg_color;
}

.nm-dialog-header-icon {
  icon-size: 3.5em;
  padding: $base_spacing * 2
}

.nm-dialog-header-hbox {
  padding-bottom: $base_spacing * 2;
  spacing: $base_spacing;
}

// list of networks
.nm-dialog-scroll-view {
  padding: $base_spacing;
  border: 0;
  background-color: $bg_color;
  padding-bottom: $base_spacing * 4;
  border: 1px solid $borders_edge;
  border-radius: $base_border_radius;
  box-shadow: none;
}

// list item
.nm-dialog-item {
  // font-size: $font-size-small;
  margin-left: $base_spacing;
  padding: $base_spacing * 2;
  spacing: $base_spacing;
  color: $fg_color;
  border: $base_spacing * 0;

  &:hover, &:focus, &:active, &:selected {
    color: $fg_color;
    box-shadow: $viva_box_shadow;
    text-shadow: $viva_text_shadow;
    background-gradient-direction: vertical;
    background-gradient-start: $viva_color1;
    background-gradient-end: $viva_color2;
  }

}

// icons in list
.nm-dialog-icon {
  // font-size: $font-size-small;
  padding-left: $base_spacing * 2;
  color: $fg_color;
  icon-size: 1.3em;
}

.nm-dialog-icons {
  spacing: $base_spacing * 2 * 2;
}

// no networks
.no-networks-label {
  color: $insensitive_fg_color;
}

.no-networks-box {
  spacing: $base_spacing * 3;
}

// airplane mode
.nm-dialog-airplane-box {
  padding-bottom: $base_spacing * 2;
  spacing: $base_spacing;
}

.nm-dialog-airplane-headline {
  font-family: $viva_font_family;
  font-size: 18pt;
  font-weight: normal;
  max-width: 500em;
  color: $fg_color;
  padding: 0;
  padding-bottom: $base_spacing;
}

.nm-dialog-airplane-text {
  color: $fg_color;
}
