/* OVERVIEW */

.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_spacing * 2;
  border: 0;
}

#overviewGroup {
  background-color: $base_color;
}

.overview-controls {
  padding-bottom: 32px;
}
