/* Popovers/Menus */

$popover_arrow_height: 8px;

//.the popover itself
.popup-menu-boxpointer {
  -arrow-border-radius: $base_border_radius;
  -arrow-background-color: $bg_color;
  -arrow-border-width: 1px;
  -arrow-border-color: $viva_border_color;
  -arrow-base: $popover_arrow_height * 2;
  -arrow-rise: $popover_arrow_height;
  -arrow-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  // dreaming bugzilla #689995
}

// container of the popover menu
.popup-menu {
  min-width: 15em;
  color: $fg_color;

  &.panel-menu {
    -boxpointer-gap: $base_margin;
    // distance from the panel
    margin-bottom: 1.75em;
    // so it doesn't touch the bottom of the screen
  }

}

// popover content
.popup-menu-content {
  padding: $base_padding * 2 $base_padding;
  border-radius: $base_border_radius;
  border: 1px solid transparent;
  box-shadow: viva_box_shadow;
  background-color: $bg_color;
}

// menu items
.popup-menu-item {
  border-radius: $base_border_radius;
  spacing: $base_padding;
  padding: $base_padding;
  font-weight: normal;
  box-shadow: $viva_box_shadow;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.6);

  &:ltr {
    padding-left: $base_padding;
  }

  &:rtl {
    padding-right: $base_padding;
  }

  &:focus, &:hover {
    color: $selected_fg_color;
    background-gradient-direction: vertical;
    background-gradient-start: $viva_gradient_2 !important;
    background-gradient-end: $viva_gradient_1 !important;

    &:active {
      background-color: $selected_bg_color;
      background-gradient-direction: vertical;
      background-gradient-start: $viva_gradient_2 !important;
      background-gradient-end: $viva_gradient_1 !important;
    }

  }

  &:checked {
    color: $selected_fg_color;
    background-gradient-direction: vertical;
    background-gradient-start: $viva_color1 !important;
    background-gradient-end: $viva_color2 !important;

    &:focus, &:hover, &:active {
      background-gradient-direction: vertical;
      background-gradient-start: $viva_color1 !important;
      background-gradient-end: $viva_color2 !important;
    }

  }

  &.selected {
    background-color: transparentize(white, 0.9);
    color: $fg_color;
  }

  &:active {
    color: $selected_fg_color;
    background-gradient-direction: vertical;
    background-gradient-start: $viva_color1 !important;
    background-gradient-end: $viva_color2 !important;
  }

  &:insensitive {
    color: transparentize($fg_color, 0.5);
  }

  // add margin to switches in menu items
  .toggle-switch {
    &:ltr {
      margin-left: $base_margin;
    }

    &:rtl {
      margin-right: $base_margin;
    }

  }

}

// all other graphical elements (sliders)
.popup-inactive-menu-item {
  color: $fg_color;

  &:insensitive {
    color: transparentize($fg_color, 0.5);
  }

}

// symbolic icons in popover
.popup-menu-arrow, .popup-menu-icon {
  icon-size: $base_icon_size;
}

.popup-menu-arrow {
}

// container for radio and check boxes
.popup-menu-ornament {
  @extend %heading;
  width: 1.2em;
  text-align: center !important;

  &:ltr {
    text-align: right;
  }

  &:rtl {
    text-align: left;
  }

}

// popover submenus
.popup-sub-menu {
  background-color: $bg_color;
  box-shadow: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0;

  .popup-menu-ornament {
    width: 1.2em;

    &:ltr {
      text-align: right
    }

    &:rtl {
      text-align: left
    }

  }

  // submenu specific styles
  .popup-menu-item {
    border-radius: $base_border_radius;
    margin: 0;

    &:last-child {
      border-radius: $base_border_radius;
    }

    &:focus, &:hover {
      color: $selected_fg_color;
      background-gradient-direction: vertical;
      background-gradient-start: $viva_gradient_2 !important;
      background-gradient-end: $viva_gradient_1 !important;
    }

    &:checked {
      color: $selected_fg_color;
      background-gradient-direction: vertical;
      background-gradient-start: $viva_color1 !important;
      background-gradient-end: $viva_color2 !important;

      &:focus, &:hover {
        color: $selected_fg_color;
        background-gradient-direction: vertical;
        background-gradient-start: $viva_color1 !important;
        background-gradient-end: $viva_color2 !important;
      }

    }

    &:active {
      color: $selected_fg_color;
      background-gradient-direction: vertical;
      background-gradient-start: $viva_color1 !important;
      background-gradient-end: $viva_color2 !important;
    }

  }

  .popup-menu-section {
    .popup-menu-item:last-child {
      &:hover, &:focus {
        border-radius: $base_border_radius;
      }

    }

    &:last-child .popup-menu-item:last-child {
      border-radius: $base_border_radius;
    }

  }

}

// separator
.popup-separator-menu-item {
  margin: 6px 0;
  padding: $base_padding !important;
  height: 1px;
  margin: 1px 0;
  background: transparent;
  box-shadow: none;

  &:ltr {
    margin-right: $base_margin;
  }

  &:rtl {
    margin-left: $base_margin;
  }

  .popup-separator-menu-item-separator {
    height: 1px;
    margin: 1px 0;
    background: $viva_border_color_selected;
    box-shadow: none;
  }

  .popup-menu-ornament {
    width: 0 !important;
  }

  // separators in submenus
  .popup-sub-menu & {
    height: 0px;
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;

    // account for ornament
    &:ltr {
      margin-right: 2.5em;
    }

    &:rtl {
      margin-left: 2.5em;
    }

    .popup-separator-menu-item-separator {
      background-color: lighten($borders_color, 7%);
    }

  }

}

// desktop background menu
.background-menu {
  -boxpointer-gap: $base_margin;
  -arrow-rise: 0px;
  // hide the beak on the menu
}

// system status menu
.aggregate-menu {
  min-width: 21em;

  // lock screen, shutdown, etc. buttons
  .popup-menu-icon {
    padding: 0;
    margin: 0 $base_margin;
    -st-icon-style: symbolic;
  }

  .popup-sub-menu .popup-menu-item >:first-child {
    // account for icons in submenus with padding
    &:ltr {
      padding-left: $base_padding + $base_margin * 2;
      margin-left: $base_icon_size;
    }

    &:rtl {
      padding-right: $base_padding + $base_margin * 2;
      margin-right: $base_icon_size;
    }

  }

}

// right-click (and panel) app menu
.app-menu {
  max-width: 27.25em;

  // this is unneeded at the top-level in this menu, hide it
  .popup-menu-ornament {
    width: 0 !important;
  }

  .popup-inactive-menu-item:first-child {
    // "Open Windows" label
    > StLabel {
      @extend %caption_heading;

      &:ltr {
        margin-right: $base_margin*2;
      }

      &:rtl {
        margin-left: $base_margin*2;
      }

    }

  }

}
