/* Switches */
.toggle-switch {
  width: 64px;
  height: 22px;

  background-image: url('./images/off.png');
  background-size: contain;

  &:checked
  {
    background-image: url('./images/on.png');
  }
}
