/* Entries */

StEntry {
  font-size: $font-size-large;
  font-weight: normal;

  width: 20em;
  margin-bottom: 0;
  padding: $spacing-tiny $spacing-small;

  color: $color-fg;
  border: 1px solid $color-bg;
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;

  caret-color: $color-fg;
  caret-size: 1px;
  selected-color: $color-fg-selected;
  selection-background-color: $color-bg-selected;
  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-1;
  background-gradient-end: $viva-gradient-2;

  &:focus
  {
    border: 1px solid $color-bg-selected;
    box-shadow: $viva-box-shadow;
  }

  &:insensitive
  {
    color: $color-fg-insensitive;
    border-color: $color-bg-insensitive;
    box-shadow: none;
  }

  StIcon.capslock-warning {
    padding: $spacing-none $spacing-tiny;
    icon-size: $font-size-huge;
    viva-color-warning: $viva-color-warning;
  }

  StIcon.peek-password {
    icon-size: $base_icon_size;
    padding: 0 4px;
  }

  StLabel.hint-text {
    margin-left: 2px;
    color: transparentize($color-fg, 0.3);
  }
}
