// .controls > StButton
// {
// 	width: $spacing-huge;
// 	height: $spacing-large;
// }

// .track-infos
// {
// 	font-size: $font-size-small;

// 	color: $color-fg;
// }

// .track-title
// {
// 	font-family: $viva_font_family;

// 	color: $color-fg;
// }

// .slider-item
// {
// 	font-size: $font-size-small;
// }

// .slider-item StLabel
// {
// 	padding-left: $spacing-small;
// }
