
/* LookingGlass */

#LookingGlassDialog
{
  font-size: $font-size-normal;
  font-weight: normal;

  padding: $spacing-tiny;

  color: $color-fg;
  border: 1px solid $viva-border-color;
  border-top: 0;
  border-radius: $viva-border-radius;
  background: $color-bg;
  box-shadow: $viva-box-shadow-dark;
}

#LookingGlassDialog > #Toolbar
{
  font-size: $font-size-normal;
  font-weight: normal;

  height: $spacing-huge;

  color: transparent;
  border: 0 solid $viva-border-color;
  background-color: $color-bg;
  box-shadow: $viva-box-shadow-dark;
}

#LookingGlassDialog .labels
{
  spacing: 0;
}

#LookingGlassDialog .notebook-tab
{
  font-size: $font-size-normal;
  font-weight: normal;

  padding-right: $spacing-tiny;
  padding-left: $spacing-tiny;

  transition-duration: $transition-fast;

  color: $color-fg-insensitive;

  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
}

#LookingGlassDialog .notebook-tab:hover
{
  color: $color-fg;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
}

#LookingGlassDialog .notebook-tab:selected
{
  color: $color-fg;
  border: 0;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: $spacing-tiny;

  spacing: $spacing-tiny;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: $spacing-tiny;
}

#LookingGlassDialog .lg-inspector-title
{
  font-weight: bold;

  padding-bottom: $spacing-tiny;
}

.lg-dialog StEntry
{
  font-size: $font-size-huge;
  font-weight: normal;

  min-width: 20em;
  margin-bottom: 0;
  padding: $spacing-tiny $spacing-tiny;

  color: $color-fg;
  border: 1px solid rgba(174,167,159,.5);
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;

  caret-color: $color-fg;
  caret-size: 1px;
  selected-color: $color-fg;
  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-1;
  background-gradient-end: $viva-gradient-2;
}

.lg-completions-text
{
  font-size: $font-size-normal;
  font-style: italic;
}

.lg-obj-inspector-title
{
  spacing: $spacing-tiny;
}

.lg-obj-inspector-button
{
  padding: $spacing-tiny;

  border: 1px solid rgba(174,167,159,.5);
  border-radius: $viva-border-radius;
}

.lg-obj-inspector-button:hover
{
  border: 1px solid $color-fg;
}

.lg-dialog .shell-link
{
  color: $viva-color1;
}

.lg-dialog .shell-link:hover
{
  color: #ddd;
}

#lookingGlassExtensions
{
  padding: $spacing-tiny;
}

.lg-extensions-list
{
  padding: $spacing-tiny;

  spacing: $spacing-tiny;
}

.lg-extension
{
  margin-right: $spacing-tiny;
  padding: $spacing-normal;

  transition-duration: 200ms;

  color: $color-fg;
  border: 0;
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
}

.lg-extension:hover,
.lg-extension:focus
{
  transition-duration: $transition-fast;

  color: $color-fg;
  box-shadow: $viva-box-shadow;
  text-shadow: 0 1px black;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}

.lg-extension-name
{
  font-family: $viva-font-family-fancy;
  font-size: $font-size-large;
  font-weight: normal;
}

.lg-extension-meta
{
  spacing: $spacing-normal;
}

#LookingGlassPropertyInspector
{
  padding: $spacing-normal;

  border: 1px solid $viva-border-color;
  border-radius: $viva-border-radius;
  background: $color-bg;

  spacing: $spacing-tiny $spacing-small;
}
