/* Popovers/Menus */

$popover_arrow_height: 8px;

//.the popover itself
.popup-menu-boxpointer {
  -arrow-border-radius: $base_border_radius;
  -arrow-background-color: $bg_color;
  -arrow-border-width: 1px;
  -arrow-border-color: $viva_border_color;
  -arrow-base: $popover_arrow_height * 2;
  -arrow-rise: $popover_arrow_height;
  -arrow-box-shadow: 0 1px 3px rgba(0,0,0,0.5); // dreaming bugzilla #689995
}

// container of the popover menu
.popup-menu {
  min-width: 15em;
  color: $fg_color;

  //.popup-status-menu-item { font-weight: normal;  color: pink; } //dunno what that is
  &.panel-menu {
    -boxpointer-gap: $base_margin; // distance from the panel
    margin-bottom: 1.75em;
  }
}

.popup-menu-content {
  padding: $base_padding * 2 0;
}

// menu items
.popup-menu-item {
  spacing: $base_padding;
  padding: $base_padding;

  font-weight: normal;
  box-shadow: $viva_box_shadow;
  text-shadow: $viva_text_shadow;

  &:ltr { padding-right:1.75em; padding-left: 0; }
  &:rtl { padding-right: 0; padding-left:1.75em; }

  &:checked {
    background-color: lighten($bg_color, 2%);
    box-shadow: none;
  }

  &.selected {
    background-color: transparentize(white, if($variant=='light', 0.2, 0.9));
    color: $fg_color;
  }

  &:active {
    background-color: $viva_color_bg_selected;
    color: $viva_color_fg_selected;
  }


  &:focus,
  &:hover
  {
    color: $viva_color_fg_selected;

    background-gradient-direction: vertical;
    background-gradient-start: $viva_gradient_2;
    background-gradient-end: $viva_gradient_1;
  }

  &:checked,
  &:active
  {
    color: $viva_color_fg_selected;

    background-gradient-direction: vertical;
    background-gradient-start: $viva_color1;
    background-gradient-end: $viva_color2;
  }

  &:insensitive
  {
    color: transparentize($fg_color,0.5);
  }
}

// all icons and other graphical elements
.popup-inactive-menu-item {
  color: $fg_color;

  &:insensitive { color: transparentize($fg_color,0.5); }
}

// symbolic icons in popover
.popup-menu-arrow,
.popup-menu-icon { icon-size: $base_icon_size; }

// popover submenus
.popup-sub-menu {
  background-color: darken($bg_color, 3%);
  box-shadow: none;
  border-top: 1px solid transparentize($borders_color, 0.2);
  border-bottom: 1px solid transparentize($borders_color, 0.2);
}

// container for radio and check boxes
.popup-menu-ornament {
  width: 1.2em;

  &:ltr { text-align: right };
  &:rtl { text-align: left };
}

// separator
.popup-separator-menu-item {
    height: 1px;
    margin: 1px 0;

    background: $bg_color;
    box-shadow: none;

  .popup-separator-menu-item-separator {
    height: 1px;
    margin: 1px 0;

    background: $viva_border_color_selected;
    box-shadow: none;

    .popup-sub-menu & { //submenu separators
      height: 1px;
      margin: 0 $base_spacing * 5 0 0;
      padding: 0;

      background: $viva_border_color_selected;
      box-shadow: none;
    }
  }
}

// desktop background menu
.background-menu {
  -boxpointer-gap: $base_margin;
  -arrow-rise: 0px; // hide the beak on the menu
}

// system status menu
.aggregate-menu {
  min-width: 21em;

  // lock screen, shutdown, etc. buttons
  .popup-menu-icon {
    padding:0;
    margin: 0 $base_margin;
    -st-icon-style: symbolic;
  }

  .popup-sub-menu .popup-menu-item > :first-child {
    // account for icons in submenus with padding
    &:ltr {
      padding-left: $base_padding + $base_margin * 2;
      margin-left: $base_icon_size;
    }
    &:rtl {
      padding-right: $base_padding + $base_margin * 2; ;
      margin-right: $base_icon_size;
    }
  }
}
