/* Scrollbars */

StScrollView {
  &.vfade { -st-vfade-offset: 8*$base_spacing; }
  &.hfade { -st-hfade-offset: 8*$base_spacing; }
}


StScrollBar
{
  margin-right: 10px;
  width: 10px;
  padding: $base_padding;

  StScrollView &
  {
    min-width: $base_spacing;
    min-height: $base_spacing;
    padding: 0;
  }

  StBin#trough
  {
    background-color: transparent;
  }

  StButton
  {
    color: color-fg;

    border: 1px solid transparent;
    border-radius: $base_border_radius;
    box-shadow: $viva_box_shadow;
    text-shadow: $viva_text_shadow;

    background-gradient-start: $viva_gradient_1;
    background-gradient-end: $viva_gradient_2;

    &#vhandle
    {
      background-gradient-direction: vertical;

      &:focus,
      &:hover
      {
        background-gradient-start: $viva_gradient_2;
        background-gradient-end: $viva_gradient_3;
      }

      &:active
      {
        background-gradient-start:$viva_color1;
        background-gradient-end: $viva_color2;
      }
    }

    &#hhandle
    {
      background-gradient-direction: horizontal;

      &:focus,
      &:hover
      {
        background-gradient-start: $viva_gradient_2;
        background-gradient-end: $viva_gradient_3;
      }

      &:active
      {
        background-gradient-start: $viva_color1;
        background-gradient-end: $viva_color2;
      }
    }
  }
}
