// Search entry

$search_entry_width: 320px;
$search_entry_height: 36px;

%search_entry,
.search-entry {
  width: $search_entry_width;
  padding: 2*$base_padding 3*$base_padding;
  margin-top: $base_spacing * 2;
  margin-bottom: $base_spacing;

  color: transparentize($fg_color,0.3);
  border: 1px solid $bg_color;
  border-radius: $base_border_radius;
  box-shadow: $viva_box_shadow;

  caret-color: $fg_color;
  caret-size: 1px;
  selected-color: $fg_color;
  background-gradient-direction: vertical;
  background-gradient-start: $viva_gradient_1;
  background-gradient-end: $viva_gradient_2;

  &:hover {
    border-color: $hover_borders_color;
    color: $hover_fg_color;
  }

  &:focus {
    padding: 2*$base_padding 3*$base_padding;
    color: $fg_color;
    border: 1px solid $bg_color;
    box-shadow: $viva_box_shadow;
  }

  .search-entry-icon {
    icon-size: $base_icon_size;
    padding: 0 4px;
    color: inherit;
  }
}
