/* Search */

// search overview container
#searchResultsContent {
  max-width: 1024px;
  spacing: $spacing-large;
}

// search results sections "the boxes"
.search-section {
  // This should be equal to #searchResultsContent spacing
  spacing: $spacing-tiny * 2;

  // separator
  .search-section-separator {
    // height: 1px;
    // background-color: $osd_outer_viva-border-color;
    height: 0;
    background-color: transparent;
  }
}

// content
.search-section-content {
  background-color: transparentize(lighten($color-bg, 5%), 0.2);
  border-radius: $viva-border-radius;
  border: 1px solid $viva-border-color;
  box-shadow: 0 2px 4px 0 $viva-color-shadow;
  text-shadow: 0 1px if($variant == 'light', rgba(255,255,255,0.2), rgba(0,0,0,0.2));
  color: $color-fg;
  padding: $spacing-small * 3;
  // This is the space between the provider icon and the results container
  spacing: $spacing-tiny * 2;
}

%search-section-content-item {
  @extend %icon_tile;

  &:focus,
  &:hover,
  &:selected {
    background-color: transparentize($color-fg, .9);
    transition-duration: 200ms;
  }

  &:active,
  &:checked {
    background-color: transparentize(darken($color-bg, 10%), .1);
  }
}

// "no results" text
.search-statustext {
  @extend %status_text;
}

// Search results with icons
.grid-search-result {
  @extend %app-well-app;
}

// search result provider
.search-provider-icon {
  @extend %search-section-content-item;

  // content
  .list-search-provider-content {
    spacing: $spacing-small * 2;

    // provider labels
    .list-search-provider-details {
      width: 120px;
      margin-top: 0;
      color: darken($color-fg, 8%);
      // font-weight: bold;
    }
  }
}

// search results list
.list-search-results {
  spacing: $spacing-small;
}

// search result listitem
.list-search-result {
  @extend %search-section-content-item;

  // content
  .list-search-result-content {
    spacing: $spacing-small;
  }

  // list item title (with leading icon)
  .list-search-result-title {
    spacing: $spacing-small * 2;
    // font-weight: bold;
  }

  // list item description
  .list-search-result-description {
    color: darken($color-fg, 30%);
  }
}
