/* App Switcher */

// the full screen container of the switcher
.switcher-popup {
  padding: $base_padding;
  spacing: $base_spacing;

  background: transparentize($insensitive_bg_color, 0.75);
  transition-duration: $transition-slow;
}

// switcher onscreen panel
.switcher-list {
  @extend %osd_panel;
  padding: $base_padding;
  border-radius: $base_border_radius;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1);

  // container for items in list
  .switcher-list-item-container {
    spacing: $base_padding * 2;
  }

  // each item in the list
  .item-box {
    font-weight: normal;

    padding: $base_padding;

    transition-duration: $transition-fast;

    border: 1px solid transparent;
    border-radius: $base_border_radius;

    &:selected,
    &:outlined
    {
      color: $selected_fg_color;
      border: 1px solid transparent;
      box-shadow: $viva_box_shadow;
      text-shadow: $viva_text_shadow;

      background-gradient-direction: vertical;
      background-gradient-start: $viva_color1;
      background-gradient-end: $viva_color2;
    }
  }

  .separator {
    width: 1px;
    background: $viva_gradient_2;
  }

  // container of thumbnails
  .thumbnail-box {
    padding: 0;
    spacing: 0;
  }

  // window thumbnail itself
  .thumbnail {
    width: 256px;
    padding: 0;
    spacing: $base_spacing;
  }
}

.switcher-arrow {
  color: transparent;
  border-color: transparent;
}

// Input Source Switcher
.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}

// Window cycler highlight
.cycler-highlight {
  border: 5px solid $selected_bg_color;
}
