/* App Switcher */

.switcher-popup {
  padding: $base_padding;

  spacing: $base_spacing;

  background: transparentize($insensitive_bg_color, 0.75);
  transition-duration: $transition-slow;
}

// switcher onscreen panel
.switcher-list {
  @extend %osd_panel;

  .item-box {
    font-weight: normal;

    padding: $base_padding;

    transition-duration: $transition-fast;

    border: 1px solid transparent;
    border-radius: $base_border_radius;

    &:selected,
    &:outlined
    {
      color: $selected_fg_color;
      border: 1px solid transparent;
      box-shadow: $viva-box-shadow;
      text-shadow: $viva-text-shadow;

      background-gradient-direction: vertical;
      background-gradient-start: $viva-color1;
      background-gradient-end: $viva-color2;
    }
  }

  // window thumbnails
  .thumbnail-box {
    padding: 0;
    spacing: 0;
  }

  .thumbnail {
    width: 256px;
    padding: 0;
    spacing: $base_spacing;
  }

  .separator {
    width: 1px;
    background: $viva-gradient-2;
  }

  .switcher-list-item-container {
    spacing: $base_spacing * 2;
  }
}

.switcher-arrow {
  color: transparent;
  border-color: transparent;
}

// Input Source Switcher
.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}

// Window cycler highlight
.cycler-highlight {
  border: 5px solid $selected_bg_color;
}
