/* Switches */

// these are equal to the size of the SVG assets
.toggle-switch
.toggle-switch-us,
.toggle-switch-intl
{
	width: 64px;
	height: 22px;

	background-image: url('images/off.png');
	background-size: contain;

	&:checked
	{
		background-image: url('images/on.png');
	}
}
