/* Window Picker */

$window_picker_spacing: $base_spacing; // 6px
$window_picker_padding: $base_padding * 2; // 12px

// Window picker
.window-picker {
  // Space between window thumbnails
  spacing: $window_picker_spacing;
}

// Window titles
.window-caption {
  color: $osd_fg_color;
  font-weight: normal;
  background-color: $osd_bg_color;
  padding: $base_padding $base_padding * 2;

  transition-duration: $transition-fast;

  border: 0;
  border-radius: $base_border_radius;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;
}

// Close button
.window-close {
  width: 32px;
  height: 32px;

  color: $fg_color;
  border-radius: $base_border_radius;
  background-color: $viva-color1;
  background-image: url('images/close.png');
  background-size: 16px;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  -shell-close-overlap: 16px;

  & StIcon { icon-size: 24px; }

  &:hover {
    background-color: $viva-color2;
  }

  &:active {
    background-color: $viva-gradient-3;
  }
}

.workspace-background {
  // keep in sync with BACKGROUND_CORNER_RADIUS_PIXELS in workspace.js
  border-radius: 30px;
  background-color: $osd_bg_color;
  box-shadow: 0 4px 16px 4px transparentize(darken($osd_bg_color, 30%), 0.7);
}
