/* Window Picker */

// Window picker
.window-picker {
  // Space between window thumbnails
  -horizontal-spacing: $spacing-huge;
  -vertical-spacing: $spacing-huge;
  // Padding for container around window thumbnails
  padding: $spacing-huge;

  &.external-monitor { padding: $spacing-huge; }
}

// Borders on window thumbnails
.window-clone-border {
  font-size: $font-size-normal;
  font-weight: normal;

  color: $color-fg;
  border: 0;
  border-radius: 0;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
}

// Window titles
.window-caption {
  font-size: $font-size-normal;
  font-weight: normal;

  padding: $spacing-small $spacing-normal;

  transition-duration: $transition-fast;

  color: $color-fg;
  border: 0;
  border-radius: $viva-border-radius;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-2;
  background-gradient-end: $viva-gradient-1;
  -shell-caption-spacing: $spacing-small;
}

// Close button
.window-close {
  width: 32px;
  height: 32px;

  color: $color-fg;
  border-radius: $viva-border-radius;
  background-color: $viva-color1;
  background-image: url('images/close.png');
  background-size: 16px;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  -shell-close-overlap: 16px;

  &:hover {
    background-color: $viva-color2;
  }

  &:active {
    background-color: $viva-gradient-3;
  }
}
