/* Workspace Switcher */

.cycler-highlight
{
  border: 1px solid $viva_border_color;
}

.workspace-switcher-group {
  padding: 0;
}

.workspace-switcher-container {
  @extend %osd_panel;
  background: $bg_color;
}

.workspace-switcher {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  spacing: $base_spacing * 2;
}

.ws-switcher-box {
  height: 50px;
  background-size: 32px;
  border: 1px solid transparent;
  border-radius: $base_border_radius;
  box-shadow: $viva_box_shadow;
  text-shadow: $viva_text_shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva_gradient_1;
  background-gradient-end: $viva_gradient_2;
}

// active workspace in the switcher
.ws-switcher-active-up,
.ws-switcher-active-down,
.ws-switcher-active-left,
.ws-switcher-active-right {
  height: 52px;
  border: 1px solid transparent;
  padding: 1px;
  border-radius: $base_border_radius;
  color: $viva_color_fg_selected;

  background-gradient-direction: vertical;
  background-gradient-start: $viva_color1;
  background-gradient-end: $viva_color2;
}
