/* Workspace pager */

// thumbnails in overview
.workspace-thumbnails {
  padding: $spacing-normal;

  border: 1px solid $viva-border-color;
  border-right: 0;
  border-radius: $viva-border-radius 0 0 $viva-border-radius;
  background: $color-bg;
  box-shadow: $viva-box-shadow-dark;

  spacing: $spacing-normal;
  visible-width: $spacing-large; /* Amount visible before hovering */

  &:rtl {
    border-right: 1px;
    border-left: 0;
    border-radius: 0 $viva-border-radius $viva-border-radius 0;
  }

  // drag and drop indicator
  .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-size: contain;
    height: 24px;
  }
}

// selected indicator
.workspace-thumbnail-indicator {
  padding: $spacing-tiny;

  border: 1px solid $viva-border-color;
  border-radius: $viva-border-radius;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-1;
  background-gradient-end: $viva-gradient-2;
}
