/* Workspace Switcher */

$ws_indicator_height: $large_icon_size;
$ws_dot_active: $ws_indicator_height / 3;
$ws_dot_inactive: $ws_indicator_height / 6;

.workspace-switcher {
  @extend %osd_panel;
  margin-bottom: 5em;
  spacing: $base_padding * 2;
  padding: $base_padding * 2 $base_padding * 3;
}

.ws-switcher-indicator {
  border: 1px solid transparent;
  border-radius: $base_border_radius;
  box-shadow: $viva_box_shadow;
  text-shadow: $viva_text_shadow;
  background-gradient-direction: vertical;
  background-gradient-start: $viva_gradient_1;
  background-gradient-end: $viva_gradient_2;
  padding: $base_padding * 3 $base_padding * 4;
  margin: $base_margin * 2;

  &:active {
    border: 1px solid transparent;
    padding: 1px;
    border-radius: $base_border_radius;
    color: $selected_fg_color;
    background-gradient-direction: vertical;
    background-gradient-start: $viva_color1;
    background-gradient-end: $viva_color2;
    padding: $base_padding * 3 $base_padding * 4;
    margin: $base_margin * 2;
  }

}
