/* Workspace Switcher */

.cycler-highlight
{
  border: 1px solid $viva-border-color;
}

.workspace-switcher-group {
  padding: 0;
}

.workspace-switcher-container {
  @extend %osd_panel;
  background: $bg_color;
}

.workspace-switcher {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  spacing: $base_spacing * 2;
}

.ws-switcher-box {
  height: 50px;
  background-size: 32px;
  border: 1px solid transparent;
  border-radius: $base_border_radius;
  box-shadow: $viva-box-shadow;
  text-shadow: $viva-text-shadow;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-gradient-1;
  background-gradient-end: $viva-gradient-2;
}

// active workspace in the switcher
.ws-switcher-active-up,
.ws-switcher-active-down,
.ws-switcher-active-left,
.ws-switcher-active-right {
  height: 52px;
  border: 1px solid transparent;
  padding: 1px;
  border-radius: $base_border_radius;
  color: $selected_fg_color;

  background-gradient-direction: vertical;
  background-gradient-start: $viva-color1;
  background-gradient-end: $viva-color2;
}
